<template>
  <section class="section">
    <div class="content">
      <div class="box has-text-justified">
        <p class="title">Autres histoires dans des univers différents</p>
        <p class="subtitle">
          OUPS ! C'est vide pour le moment, j'y travaille !
        </p>
        <p>
          <em
            >SVP, revenez ici dans quelques temps, je prendrais bien évidemment
            la peine de vous avertir sur Facebook ! :)</em
          >
        </p>
      </div>
    </div>
  </section>
</template>
