<template>
  <section class="section">
    <div class="content">
      <div class="box has-text-justified">
        <p class="title">
          Autres histoires liées à
          <em>D'Ombre et de Feu</em>
        </p>
        <p>
          Je vais essayer de rajouter du contenu ici régulièrement, il s'agit
          d'histoires centrées sur certains personnages rencontrés dans
          <em>D'Ombre et de Feu</em>, mais aussi d'autres récits, documents qui
          peuvent être lus en parallèle à la trame de
          <em>D'Ombre et de Feu</em> et de son univers.
        </p>
        <p>
          Vous pouvez télécharger les extraits et les lire sur votre liseuse,
          smartphone (vous aurez peut-être besoin de télécharger une application
          pour lire les ebook) ou sur ordinateur(vous pouvez télécharger
          <a href="https://calibre-ebook.com/fr/download">Calibre</a>, c'est
          gratuit !). Vous pouvez sinon les lire soit directement sur cette page
          soit dans le "mode lecture" en cliquant sur le bouton en en-tête de
          chaque extrait. Ce mode permet une lecture plus aisée sur les grands
          écrans pour éviter d'avoir des lignes trop longues et n'a pas une
          couleur de fond blanche pour un meilleur confort des yeux.
        </p>
        <p>
          <strong>
            Lisez-bien l'indication de la progression (dans la lecture de
            <em>D'Ombre et de Feu</em>) recommandée dans l'en-tête de chaque
            texte avant de lire le contenu en question, afin d'éviter de vous
            gâcher votre lecture de <em>D'Ombre et de Feu</em>, par exemple
            lorsqu'il y a des révélations ou bien pour une compréhension plus
            aisée du contenu.
          </strong>
        </p>
        <ul>
          <li>
            <a href="#strif">Histoire de Strif</a>
          </li>
          <li>
            <a href="#separation">Aldor et la Guerre de la Séparation</a>
          </li>
        </ul>
      </div>
      <div class="box" id="strif">
        <div class="top-txt">
          <p class="subtitle is-4 has-text-centered">Histoire de Strif</p>
          <p class="is-recommended">
            Progression recommandée : avoir lu
            <em>
              D'Ombre et de feu -
              <i>Terres d'Ombre</i> </em
            >, chapitre 2.
          </p>
          <p>
            <a
              href="/assets/others/Others_OSaF/Grand_Conseiller_Strif.epub"
              class="button is-info is-outlined is-pulled-left"
              >Télécharger</a
            >
            <button class="button is-primary btnModal is-pulled-right">
              Mode lecture
            </button>
            <modals class="modalTxt" />
          </p>
        </div>
        <div class="textArea has-text-justified">
          <p class="title has-text-centered is-chapter">
            Introduction du quatrième Grand conseiller
          </p>

          <p style="text-align: center;">
            <strong>
              <span style="font-size: 24.0pt; line-height: 107%;">&nbsp;</span>
            </strong>
          </p>
          <p style="text-align: center;">
            <em>
              <u>
                R&egrave;gles du Peuple, Chapitre huit, section une, paragraphe
                quinze&nbsp;:
              </u>
            </em>
          </p>
          <p style="text-align: center;">-</p>
          <p class="is-story">
            <i>
              Chaque nouveau Grand conseiller doit se pr&eacute;senter dans le
              journal des conseillers, lequel a pour objectif de garder trace
              &eacute;crite de leurs actions et autres rapports
              n&eacute;cessitant d&rsquo;y &ecirc;tre not&eacute;s. Afin de
              pouvoir identifier, conna&icirc;tre et comprendre le Grand
              conseiller &eacute;crivant les lignes de ce journal, il est
              n&eacute;cessaire que celui-ci s&rsquo;y pr&eacute;sente
              apr&egrave;s un cycle pass&eacute; en &eacute;tant Grand
              conseiller, s&rsquo;il est retenu pour ce r&ocirc;le central du
              Peuple. Lors du cycle d&rsquo;essai du pr&eacute;tendant au
              r&ocirc;le de Grand conseiller, le reste du Conseil doit
              &eacute;crire les rapports dans le journal du conseil.
            </i>
          </p>
          <p class="is-story">
            <i>
              C&rsquo;est &agrave; la suite des derni&egrave;res pages
              &eacute;crites par le pr&eacute;c&eacute;dent Grand conseiller que
              celui nouvellement approuv&eacute; doit r&eacute;diger cette
              introduction.
            </i>
          </p>
          <p class="is-story">
            <i>
              Tous ses futurs rapports doivent &ecirc;tre &eacute;crits de sa
              main, il ne peut faire appel &agrave; un scribe que s&rsquo;il est
              dans l&rsquo;incapacit&eacute; totale d&rsquo;&eacute;crire
              lui-m&ecirc;me dans ce livre. N&rsquo;importe quel habitant du
              Peuple peut consulter des conseillers sur simple demande.
            </i>
          </p>
          <p class="is-story">
            <i>
              Toute introduction d&rsquo;un nouveau Grand conseiller doit
              &ecirc;tre pr&eacute;c&eacute;d&eacute;e du rappel exact de la
              r&egrave;gle
              <u>Chapitre huit, section une, paragraphe quinze.</u>
            </i>
          </p>
          <p class="is-story">&nbsp;</p>
          <p class="is-story">
            J&rsquo;en voulais &agrave; mon p&egrave;re. Tant et si bien que sa
            mort m&rsquo;a profond&eacute;ment meurtri. Toute la col&egrave;re
            que j&rsquo;avais accumul&eacute;e &agrave; cause de lui fut
            remplac&eacute;e par un grand vide, sapant m&ecirc;me la tristesse
            d&rsquo;avoir perdu au m&ecirc;me moment ma m&egrave;re et ma
            bien-aim&eacute;e. Ne rien ressentir &eacute;tait encore pire que de
            pleurer leur perte. Peut-&ecirc;tre est-ce la raison pour laquelle
            j&rsquo;ai fait mon deuil aussi rapidement que je l&rsquo;eus pu
            <span style="font-family: 'Times New Roman',serif;">&thinsp;</span>?
          </p>
          <p class="is-story">
            J&rsquo;ai cherch&eacute; &agrave; remplacer mon p&egrave;re dans
            son r&ocirc;le de conseiller du Peuple afin d&rsquo;avoir
            mati&egrave;re &agrave; r&eacute;flexion. Sans aucun doute.
            J&rsquo;avais besoin de me remplir la t&ecirc;te, de combler tout le
            vide qui s&rsquo;y &eacute;tait install&eacute;. Ce n&rsquo;est que
            bien plus tard que la tristesse s&rsquo;offrit &agrave; moi, alors
            que ma vie &eacute;tait redevenue un semblant stable. Il en manquait
            peu pour que je voue la m&ecirc;me haine que mon p&egrave;re
            &agrave; l&rsquo;&eacute;nergision tandis que les larmes
            s&rsquo;&eacute;taient enfin mises &agrave; rouler sur mes joues.
          </p>
          <p class="is-story">
            J&rsquo;avais alors douze hivers, mon p&egrave;re &eacute;tait
            d&eacute;j&agrave; peu fier de mes progr&egrave;s avec le Sens. En
            tant qu&rsquo;unique fils, il attendait tout de moi. Que je
            ma&icirc;trise plusieurs Sens, que je montre une aisance
            inn&eacute;e &agrave; l&rsquo;&eacute;criture ainsi que des talents
            notables en tant qu&rsquo;orateur. Je n&rsquo;avais rien de tout
            cela, et m&ecirc;me pire. J&rsquo;avais l&rsquo;&eacute;nergision.
          </p>
          <p class="is-story">
            Tandis que je jouais avec celle qui fut plus tard ma
            bien-aim&eacute;e, Shari, je m&rsquo;&eacute;tais
            &eacute;croul&eacute;, incapable de ma&icirc;triser mon corps. Tout
            au long de la matin&eacute;e, je m&rsquo;&eacute;tais senti
            &eacute;trange, comme si mon esprit allait d&eacute;chirer ma peau
            et s&rsquo;en aller. Shari avait appel&eacute; tous les habitants du
            Peuple &agrave; l&rsquo;aide lorsqu&rsquo;elle me vit choir et ne
            plus bouger. Elle avait utilis&eacute; son Ou&iuml;e. Elle
            &eacute;tait, &agrave; l&rsquo;inverse de moi, si talentueuse que
            tout le monde &eacute;tait venu sans perdre un instant.
          </p>
          <p class="is-story">
            Mon p&egrave;re arriva, embarrass&eacute; que son fils ait fait se
            d&eacute;placer tout un chacun pour une simple blessure. Tout du
            moins, ce fut ce que j&rsquo;eus pu lire sur ses traits &agrave; ce
            moment donn&eacute;. Je n&rsquo;ai jamais su s&rsquo;il
            s&rsquo;&eacute;tait ouvert &agrave; l&rsquo;&eacute;nergision ou
            s&rsquo;il avait simplement devin&eacute; ce qu&rsquo;il
            m&rsquo;arrivait. Son expression avait chang&eacute; avant
            m&ecirc;me qu&rsquo;il ne me touche pour me redresser&nbsp;:
            j&rsquo;avais l&rsquo;&eacute;nergision.
          </p>
          <p class="is-story">
            Sa peur &eacute;tait plus forte que l&rsquo;aversion
            qu&rsquo;apportait ce nouvel &eacute;chec. C&rsquo;est pourquoi il
            agit sans se cacher des autres. Il s&rsquo;exprima lentement pour
            bien que je le comprenne, &agrave; la plus grande surprise des
            habitants qui regardaient la sc&egrave;ne&nbsp;:
          </p>
          <p class="is-story">
            &mdash;&nbsp;Tu as l&rsquo;&eacute;nergision, mon fils. Je vais
            t&rsquo;aider &agrave; t&rsquo;y ouvrir avant qu&rsquo;il ne soit
            trop tard.
          </p>
          <p class="is-story">
            Se paroles avaient d&eacute;clench&eacute; la stupeur
            g&eacute;n&eacute;rale. Il &eacute;tait de notori&eacute;t&eacute;
            publique que ma m&egrave;re ne poss&eacute;dait pas cette magie, et
            mon p&egrave;re, tout comme ses parents auparavant, l&rsquo;avait
            toujours cach&eacute;e. L&rsquo;&eacute;nergision avait toujours
            &eacute;t&eacute; taboue chez nous, m&ecirc;me si elle &eacute;tait
            bien vue au sein du Peuple.
          </p>
          <p class="is-story">
            Mes grands-parents avaient fui Meridion pendant la guerre de la
            S&eacute;paration. Alors qu&rsquo;ils &eacute;taient esclaves
            d&rsquo;un noble proche de la couronne, celui-ci avait fortuitement
            d&eacute;couvert leur don pour l&rsquo;&eacute;nergision. Le roi
            comptait &agrave; ce moment-l&agrave; faire interdire cette magie.
            D&rsquo;apr&egrave;s les r&eacute;cits de mes grands-parents, il la
            ha&iuml;ssait au plus haut point. Selon lui, elle &eacute;tait la
            source de tous les maux de Meridion. Il avait imput&eacute; la mort
            de sa s&oelig;ur &agrave; un &eacute;nergiseur qui
            s&rsquo;&eacute;tait intimement rapproch&eacute; d&rsquo;elle. Bien
            &eacute;videmment, tous les nobles qui &eacute;taient sous sa coupe
            &eacute;taient du m&ecirc;me avis que lui. Ils comptaient bien faire
            ex&eacute;cuter ceux qui poss&eacute;daient
            l&rsquo;&eacute;nergision parmi leurs sujets pour plaire au roi.
          </p>
          <p class="is-story">
            C&rsquo;est ainsi que mes grands-parents sont devenus des esclaves
            en fuite, donc des ennemis du royaume de Meridion. Ils perdirent
            leurs fr&egrave;res et s&oelig;urs avant m&ecirc;me d&rsquo;avoir eu
            le temps de les pr&eacute;venir. Une fois install&eacute;s parmi le
            peuple, malgr&eacute; la s&eacute;curit&eacute; ils
            continu&egrave;rent de maudire l&rsquo;&eacute;nergision pour le mal
            qu&rsquo;elle leur avait apport&eacute;. Puis ils eurent deux
            enfants&nbsp;: mon p&egrave;re et une fille. Ma tante mourut alors
            qu&rsquo;elle &eacute;tait encore enfant. Elle s&rsquo;&eacute;tait
            perdue dans les formes de vie alentour alors que mon
            grand-p&egrave;re tentait de l&rsquo;ouvrir &agrave;
            l&rsquo;&eacute;nergision pour la sauver.
          </p>
          <p class="is-story">
            Cette nouvelle perte enfon&ccedil;a le couteau trop
            profond&eacute;ment dans la plaie de mes grands-parents. Ils avaient
            &eacute;lev&eacute; mon p&egrave;re en lui faisant comprendre que
            l&rsquo;&eacute;nergision &eacute;tait une dangereuse tare et la
            mort de ma tante avait fini par le convaincre qu&rsquo;il
            s&rsquo;agissait d&rsquo;une magie maudite. Il avait cru que
            j&rsquo;&eacute;tais &eacute;pargn&eacute; &eacute;tant donn&eacute;
            la tardivet&eacute; avec laquelle la magie s&rsquo;&eacute;tait
            manifest&eacute;e chez moi.
          </p>
          <p class="is-story">
            Les &eacute;nergiseurs &eacute;taient recherch&eacute;s par le
            Peuple, ils pouvaient lui permettre de se d&eacute;velopper plus
            ais&eacute;ment. Ceux qui ma&icirc;trisaient l&rsquo;eau et la terre
            pouvaient faciliter les cultures en les irriguant plus efficacement
            ou bien en les aidant &agrave; pousser m&ecirc;me en dehors des
            saisons. Et mon p&egrave;re et ses parents avaient menti &agrave;
            tous en pr&eacute;tendant ne pas la poss&eacute;der. D&rsquo;autres
            &eacute;nergiseurs &eacute;taient pr&eacute;sents parmi le Peuple,
            cependant ma famille connaissait un moyen de rendre son
            &eacute;nergie faible, voire inexistante aux yeux des autres. Cela
            leur avait permis de mentir jusqu&rsquo;&agrave; ce jour.
          </p>
          <p class="is-story">
            Tandis que mon p&egrave;re m&rsquo;expliquait que je devais conduire
            le flux que je sentais en moi vers l&rsquo;ext&eacute;rieur de mon
            corps, comme si j&rsquo;&eacute;cartais doucement deux plis
            d&rsquo;une m&ecirc;me membrane, j&rsquo;entendis des mots que je
            n&rsquo;oublierais jamais. Ils jaillissaient &ccedil;&agrave; et
            l&agrave; dans le cercle qui s&rsquo;&eacute;tait form&eacute;
            autour de nous&nbsp;:
          </p>
          <p class="is-story">
            &mdash;&nbsp;Menteurs
            <span style="font-family: 'Times New Roman',serif;">&thinsp;</span>!
          </p>
          <p class="is-story">
            &mdash;&nbsp;Que nous cachez-vous d&rsquo;autre
            <span style="font-family: 'Times New Roman',serif;">&thinsp;</span>?
          </p>
          <p class="is-story">
            &mdash;&nbsp;Il ne peut rester conseiller s&rsquo;il nous ment
            depuis si longtemps
            <span style="font-family: 'Times New Roman',serif;">&thinsp;</span>!
          </p>
          <p class="is-story">
            La col&egrave;re &eacute;tait palpable et tout &agrave; fait
            compr&eacute;hensible. Je ne sais pas si ce fut la douleur ou
            simplement la raison, mais je partageais aussi cette col&egrave;re.
            Mon p&egrave;re n&rsquo;avait pas le droit de cacher son
            &eacute;nergision ni la mienne.
          </p>
          <p class="is-story">
            J&rsquo;ai longtemps pens&eacute; qu&rsquo;il l&rsquo;avait compris
            aussi ce jour-l&agrave;. Mais c&rsquo;&eacute;tait une
            grossi&egrave;re erreur. Afin de ne pas &ecirc;tre destitu&eacute;
            de son r&ocirc;le de conseiller, il pr&eacute;senta publiquement
            toutes ses excuses le lendemain. Il promit en outre d&rsquo;utiliser
            son &eacute;nergision et de m&rsquo;y former pour que nous puissions
            aider le Peuple &agrave; avoir de bonnes cultures.
          </p>
          <p class="is-story">
            Quelque chose s&rsquo;&eacute;tait bris&eacute; en lui ce
            jour-l&agrave; et plus jamais il ne cacha la d&eacute;ception que je
            repr&eacute;sentais &agrave; ses yeux. Il m&rsquo;apprit le cycle
            suivant les bases n&eacute;cessaires pour aider aux cultures. Mon
            &eacute;l&eacute;ment &eacute;tait la terre, tout comme le sien.
            Encore une fois, son m&eacute;pris envers moi aidant, je le
            d&eacute;&ccedil;us lors de mes le&ccedil;ons. Il n&rsquo;avait pas
            envie de m&rsquo;apprendre &agrave; utiliser
            l&rsquo;&eacute;nergision et il ne cherchait pas &agrave; me donner
            envie, ce qui explique certainement pourquoi j&rsquo;ai mis si
            longtemps pour ma&icirc;triser les bases. C&rsquo;est aussi la
            raison pour laquelle il ne chercha pas &agrave; approfondir
            davantage ma formation par la suite.
          </p>
          <p class="is-story">
            Nos efforts et notre implication dans la vie locale les cycles qui
            ont suivi, jusqu&rsquo;&agrave; mon vingti&egrave;me hiver, ont
            permis &agrave; mon p&egrave;re de prendre la place de Grand
            conseiller. Nous avions tous grandement aid&eacute; aux cultures, si
            bien que le jour de ma premi&egrave;re ouverture &agrave;
            l&rsquo;&eacute;nergision avait disparu des esprits. Mon p&egrave;re
            avait appris &agrave; ma&icirc;triser l&rsquo;&eacute;nergision
            &agrave; tous les enfants autres que moi qui en &eacute;taient
            dot&eacute;s afin de contrebalancer le manque qu&rsquo;avait
            entra&icirc;n&eacute; le secret de son &eacute;nergision. Encore une
            fois, ma haine envers lui avait grandi. Je n&rsquo;&eacute;prouvais
            aucune jalousie envers ceux qui b&eacute;n&eacute;ficiaient des
            enseignements de mon p&egrave;re, je nourrissais seulement une
            col&egrave;re ind&eacute;fectible &agrave; son encontre. Cette
            col&egrave;re restait tout de m&ecirc;me moins croissante que
            l&rsquo;amour que je vouais &agrave; Shari.
          </p>
          <p class="is-story">
            Nous formions un couple heureux, si bien que lors de mon vingt et
            uni&egrave;me hiver, nous d&eacute;cid&acirc;mes de nous unir
            publiquement lors de la naissance de notre enfant, pr&eacute;vu pour
            l&rsquo;&eacute;t&eacute;. &Agrave; l&rsquo;annonce de la naissance
            &agrave; venir d&rsquo;un petit enfant &agrave; mes parents, mon
            p&egrave;re d&eacute;cida d&rsquo;approfondir certaines de mes
            connaissances de l&rsquo;&eacute;nergision. Bien &eacute;videmment,
            il avait seulement m&rsquo;apprendre &agrave; ouvrir mon enfant
            &agrave; l&rsquo;&eacute;nergision et &agrave; dissimuler mon
            &eacute;nergie ainsi que la sienne. Il ne comptait pas &agrave; ce
            que son petit-enfant ait &agrave; utiliser
            l&rsquo;&eacute;nergision.
          </p>
          <p class="is-story">
            C&rsquo;&eacute;tait sans compter sur les ombres.
          </p>
          <p class="is-story">
            Nous &eacute;tions en plein milieu de la nuit dans une
            clairi&egrave;re non loin de chez nous. Tandis que mon p&egrave;re
            me d&eacute;crivait les &eacute;tapes &agrave; suivre pour ouvrir
            une personne une premi&egrave;re fois &agrave;
            l&rsquo;&eacute;nergision, on entendit des cris venant de notre
            cabane, nous reconn&ucirc;mes tous deux la voix de ma m&egrave;re.
            Sans perdre un instant, nous cour&ucirc;mes voir ce qu&rsquo;il se
            tramait. Nous en avions entendu parler, certains en avaient
            crois&eacute; lors de leurs chasses depuis quelques lunes.
            C&rsquo;&eacute;tait pour ma part la premi&egrave;re fois que
            j&rsquo;en voyais de mes propres yeux&nbsp;: les deux &ecirc;tres
            &agrave; la peau noire tout comme le charbon &eacute;taient absents
            lorsque je m&rsquo;ouvrais &agrave; l&rsquo;&eacute;nergision,
            pourtant ils &eacute;taient bien devant moi. L&rsquo;un &eacute;tait
            &agrave; cheval sur ma m&egrave;re le poing enfonc&eacute; dans son
            ventre. Il tirait sur les entrailles pour les sortir du corps de sa
            proie, inanim&eacute;e.
          </p>
          <p class="is-story">
            L&rsquo;autre avait fonc&eacute; sur mon p&egrave;re, car il fut le
            premier de nous deux &agrave; rentrer dans la cabane. Il le griffa,
            entaillant profond&eacute;ment le torse de mon p&egrave;re, puis il
            bondit pour le mordre &agrave; la gorge, dans des &eacute;clats
            sanglants. C&rsquo;est ainsi que mes deux parents moururent. Et moi,
            j&rsquo;&eacute;tais t&eacute;tanis&eacute;, la peur m&rsquo;avait
            emp&ecirc;ch&eacute; de faire le moindre mouvement. Ce fut les
            &eacute;claboussures de sang de mon p&egrave;re sur ma figure qui me
            sortirent de ma torpeur. Je me saisis d&rsquo;un fendoir puis le
            brandit dans les airs pour abattre la cr&eacute;ature.
          </p>
          <p class="is-story">
            L&rsquo;ombre &eacute;tait vif, mais il n&rsquo;avait pas
            pr&eacute;vu le coup. Le fendoir s&rsquo;enfon&ccedil;a durement
            dans son cr&acirc;ne. Tandis que l&rsquo;autre ombre se retournait,
            je tentai de r&eacute;cup&eacute;rer mon arme. Ce fut impossible
            dans le peu de temps qu&rsquo;il m&rsquo;&eacute;tait donn&eacute;,
            je voyais mon ennemi me foncer dessus &agrave; toute allure. En
            faisant un demi-tour, je sortis de la cabane et fermai la porte en
            la claquant de toutes mes forces sur l&rsquo;ombre.
          </p>
          <p class="is-story">
            Sans demander mon reste, je descendis les marches pour arriver au
            pied de l&rsquo;arbre qui portait notre foyer. Il se trouvait non
            loin de l&agrave;, dans une remise, des haches, &eacute;p&eacute;es,
            lances et autres armes destin&eacute;es &agrave; la chasse. Les cris
            de ma m&egrave;re avaient r&eacute;veill&eacute; le voisinage qui
            passait des t&ecirc;tes dans les entreb&acirc;illements des portes
            et fen&ecirc;tres afin d&rsquo;observer ce qu&rsquo;il se passait.
            K&auml;s, un homme imposant et qui &eacute;tait notre voisin
            d&rsquo;arbre, sortit de chez lui avec une hache d&rsquo;armes. Sa
            cabane se situait au pied de notre arbre, il arriva en un instant
            pr&egrave;s de moi et me demanda, mena&ccedil;ant&nbsp;:
          </p>
          <p class="is-story">
            &mdash;&nbsp;Qu&rsquo;as-tu fait
            <span style="font-family: 'Times New Roman',serif;">&thinsp;</span>?
          </p>
          <p class="is-story">
            Son visage montrait l&rsquo;horreur que lui inspiraient le sang sur
            ma figure et mes traits d&eacute;form&eacute;s par la peur et la
            haine.
          </p>
          <p class="is-story">
            Abasourdi qu&rsquo;il e&ucirc;t pu penser que j&rsquo;&eacute;tais
            l&rsquo;auteur d&rsquo;un acte barbare,&nbsp;alors que mes parents
            venaient de mourir sous mes yeux, je lui r&eacute;pondis&nbsp;:
          </p>
          <p class="is-story">
            &mdash;&nbsp;Des ombres, ils ont tu&eacute; ma m&egrave;re, puis mon
            p&egrave;re, quand nous sommes arriv&eacute;s.
          </p>
          <p class="is-story">
            C&rsquo;&eacute;tait la stupeur qui prit cette fois-ci possession
            des traits de K&auml;s&nbsp;:
          </p>
          <p class="is-story">
            &mdash;&nbsp;Les ombres sont encore vivants
            <span style="font-family: 'Times New Roman',serif;">&thinsp;</span>?
          </p>
          <p class="is-story">
            &mdash;&nbsp;Seulement un, j&rsquo;ai tu&eacute; l&rsquo;autre.
          </p>
          <p class="is-story">
            &mdash;&nbsp;Prends une arme et suis-moi. Reste sur tes gardes.
          </p>
          <p class="is-story">
            Apr&egrave;s m&rsquo;&ecirc;tre saisi d&rsquo;une hache dans la
            remise, nous mont&acirc;mes les marches. La porte &eacute;tait
            rest&eacute;e ferm&eacute;e. K&auml;s l&rsquo;ouvrit doucement
            tandis que je pr&eacute;parais mon arme pour l&rsquo;abattre sur le
            premier membre qui allait en sortir. Il n&rsquo;en fut rien.
            K&auml;s prit sa hache &agrave; deux mains et entra dans la cabane.
            Je le suivis. Des flammes l&eacute;chaient le sol et les murs en
            certains endroits. On avait utilis&eacute; les bougies qui
            &eacute;taient allum&eacute;es pour mettre feu &agrave; toutes les
            parois de la cabane.
          </p>
          <p class="is-story">
            Je vis l&rsquo;ombre l&acirc;cher un morceau de bois enflamm&eacute;
            en entendant mes pas. Il se retourna en bondissant dans la direction
            de K&auml;s. Ce dernier avait pr&eacute;par&eacute; son coup, sa
            hache d&rsquo;armes s&rsquo;enfon&ccedil;a dans le cou de
            l&rsquo;ombre. Elle s&rsquo;&eacute;tait arr&ecirc;t&eacute;e
            &agrave; mi-chemin. Un tel coup aurait normalement d&ucirc;
            d&eacute;capiter un homme. Mais comme je l&rsquo;avais senti plus
            t&ocirc;t, les ombres avaient une peau, des os et la chair
            particuli&egrave;rement difficiles &agrave; p&eacute;n&eacute;trer.
          </p>
          <p class="is-story">
            Un nouveau cri transper&ccedil;a la nuit. Et mon &acirc;me. Shari
            <span style="font-family: 'Times New Roman',serif;">&thinsp;</span>!
          </p>
          <p class="is-story">
            Je ne perdis pas un instant et me pr&eacute;cipitai hors de la
            cabane, je d&eacute;talai fr&eacute;n&eacute;tiquement les marches.
            J&rsquo;entendis K&auml;s hurler derri&egrave;re moi aux autres
            habitants de s&rsquo;armer et de d&eacute;fendre notre territoire
            contre les ombres. Il demanda en outre &agrave; ce qu&rsquo;on
            &eacute;teigne le feu qui se propageait dans la cabane de ma
            famille. J&rsquo;avais pourtant pris une avance consid&eacute;rable,
            mais sa stature de chasseur l&rsquo;avait aid&eacute; &agrave; me
            rattraper d&rsquo;un pas l&eacute;ger, malgr&eacute; sa
            constitution. La cabane de Shari &eacute;tait inhabituellement
            &eacute;clair&eacute;e, comme s&rsquo;il y avait un feu &agrave;
            l&rsquo;int&eacute;rieur.
          </p>
          <p class="is-story">
            Avant m&ecirc;me que je n&rsquo;arrive devant sa cabane, au pied
            d&rsquo;un ch&ecirc;ne bourgeonnant, la porte s&rsquo;ouvrit et
            Shari tomba &agrave; terre. Je for&ccedil;ai l&rsquo;allure autant
            que possible, rien n&rsquo;aurait pu m&rsquo;arr&ecirc;ter. Un ombre
            sortit &agrave; son tour et &eacute;ventra Shari avec ses longs
            ongles. Ma bien-aim&eacute;e poussa un cri de douleur et tenta de
            repousser son assaillant malgr&eacute; tout le sang qui
            s&rsquo;&eacute;coulait de son ventre. Je ne sais pas comment je pus
            avoir un tel &eacute;lan de lucidit&eacute;, mais je sus que ni moi
            ni K&auml;s ne pouvions atteindre l&rsquo;ombre avant qu&rsquo;il ne
            tue Shari. Je lan&ccedil;ai alors ma hache de toutes mes forces.
            Avant qu&rsquo;elle heurte l&rsquo;ombre, celui-ci eut le temps
            d&rsquo;&eacute;gorger Shari.
          </p>
          <p class="is-story">
            Le manche de ma hache heurta la t&ecirc;te de ma cible bien moins
            durement que ce que je venais de voir m&rsquo;avait frapp&eacute;.
            Mon enfant et celle qui allait devenir ma femme &eacute;taient
            morts, tu&eacute;s par l&rsquo;un de ces monstres. J&rsquo;avais
            tout perdu. J&rsquo;&eacute;tais seul et je n&rsquo;avais pu
            prot&eacute;ger ni mes parents ni ma future famille. Les
            &eacute;motions se m&eacute;lang&egrave;rent violemment en moi,
            promettant par leur seule force d&rsquo;extirper mon &ecirc;tre de
            mon corps.
          </p>
          <p class="is-story">
            K&auml;s ne s&rsquo;&eacute;tait pas laiss&eacute; impressionner, il
            planta sa hache d&rsquo;armes un court instant plus tard dans le dos
            de l&rsquo;ombre.
          </p>
          <p class="is-story">
            J&rsquo;appris plus tard, tandis que je luttais pour
            m&rsquo;accrocher &agrave; la tristesse en moi, que trois autres
            ombres avaient tu&eacute; et &eacute;t&eacute; tu&eacute;s &agrave;
            leur tour. Si les incendies n&rsquo;avaient pas fait de ravages
            outre la cabane de ma famille et celle de Shari, ce fut gr&acirc;ce
            &agrave; un apprenti &eacute;nergiseur de mon p&egrave;re qui
            ma&icirc;trisait le feu. L&rsquo;arbre dans lequel j&rsquo;ai
            v&eacute;cu semble aujourd&rsquo;hui s&rsquo;&ecirc;tre remis du feu
            qui avait &agrave; peine p&eacute;n&eacute;tr&eacute; son
            &eacute;corce, contrairement &agrave; la cabane dont presque toutes
            les planches avaient noirci. J&rsquo;ai d&ucirc; d&eacute;truire par
            la suite.
          </p>
          <p class="is-story">
            J&rsquo;avais pris par la suite, &agrave; la stupeur
            g&eacute;n&eacute;rale, la rel&egrave;ve de mon p&egrave;re. Au
            d&eacute;but en tant que simple conseiller, puis bient&ocirc;t en
            tant que Grand conseiller. Personne n&rsquo;avait &eacute;mis
            d&rsquo;objections &agrave; ce que j&rsquo;occupe ces deux places
            importantes si rapidement apr&egrave;s le d&eacute;c&egrave;s de
            tous mes proches.
          </p>
          <p class="is-story">
            Je m&rsquo;&eacute;tais tellement donn&eacute; pour apaiser les
            peurs, tous &eacute;taient d&rsquo;accord avec le fait que
            j&rsquo;&eacute;tais le plus lucide en ces moments troubles. Nous
            avons b&acirc;ti des petites murailles, garnies de postes
            d&rsquo;observation et &agrave; leur pied de pics en bois. Elles
            &eacute;taient &agrave; peine plus grandes que deux hommes en
            hauteur. Aucun ombre ne pouvait rentrer sans se d&eacute;chirer les
            chairs ni sans &ecirc;tre vu ou entendu par les sentinelles. Nous
            avons &eacute;tabli des tours de garde afin que chaque famille soit
            impliqu&eacute;e &eacute;quitablement. La grande salle au centre de
            la clairi&egrave;re fut agrandie, elle permet d&eacute;sormais
            d&rsquo;accueillir les enfants et ceux qui ne peuvent se battre en
            cas d&rsquo;attaque.
          </p>
          <p class="is-story">
            Lorsqu&rsquo;une nouvelle cabane me fut pr&ecirc;t&eacute;e, le
            temps que je reconstruise celle dans laquelle j&rsquo;avais grandi,
            je fis une premi&egrave;re fois mes adieux &agrave; ma
            d&eacute;funte famille. Combien de larmes ai-je vers&eacute;es dans
            cette demeure temporaire et bien trop vide
            <span style="font-family: 'Times New Roman',serif;">&thinsp;</span>?
            En une nuit, j&rsquo;avais tout perdu. Et j&rsquo;&eacute;tais enfin
            arriv&eacute; &agrave; commencer mon deuil, plusieurs lunes plus
            tard. Tandis que le Peuple se relevait d&eacute;j&agrave; de ses
            blessures, je ne faisais que commencer &agrave; examiner les
            miennes.
          </p>
          <p class="is-story">
            Avec du recul, je compris aussi que ma position de Grand conseiller
            me fut octroy&eacute;e en outre pour m&rsquo;aider &agrave; me
            soulager. Certains comme Almer, Hott et K&auml;s avaient bien
            compris que j&rsquo;avais eu besoin de responsabilit&eacute;s pour
            me remettre de ces &eacute;v&eacute;nements, de les accepter, et ils
            comprirent aussi que cette force lucide qui m&rsquo;animait
            &eacute;tait un grand atout pour le Peuple en ces temps de deuil. Je
            n&rsquo;en reste cependant pas moins convaincu
            qu&rsquo;eux-m&ecirc;mes, ainsi que le reste des conseillers,
            m&rsquo;auraient destitu&eacute; si j&rsquo;avais pris la moindre
            mauvaise d&eacute;cision. Il en aurait &eacute;t&eacute; de
            m&ecirc;me si le d&eacute;ni de mes pertes avait dur&eacute; plus
            longtemps, il aurait &eacute;t&eacute; normal que l&rsquo;on me
            prenne pour un fou, si toute cette douleur n&rsquo;avait jamais fait
            surface.
          </p>
          <p class="is-story">
            Aujourd&rsquo;hui, je m&rsquo;en remets doucement, la vie suit son
            cours, nous n&rsquo;avons pas eu de nouveaux morts. Tout comme
            j&rsquo;ai reconstruit la cabane de mes parents lors du dernier
            cycle, je fixe d&eacute;sormais une &agrave; une les planches de mon
            avenir et de celui du Peuple.
          </p>
          <p class="is-story">
            Nous avons pu observer des ombres et en tuer un certain nombre. Le
            Peuple vit au rythme de la for&ecirc;t, l&rsquo;&eacute;t&eacute; va
            bient&ocirc;t se terminer. &Agrave; part quelques ombres qui
            viennent de temps en temps au pied de notre muraille, il ne se passe
            rien de notable, au plus grand bonheur de tous. C&rsquo;est ainsi
            que l&rsquo;on profite au mieux de la vie. Mais je
            pr&eacute;f&egrave;re tout de m&ecirc;me quand c&rsquo;est un peu
            plus mouvement&eacute;.
          </p>
          <p class="is-story">
            J&rsquo;ai entendu parler d&rsquo;une enfant sauvage chassant non
            loin de notre ville. Nous allons l&rsquo;observer pour voir si elle
            est bien seule. Il est possible qu&rsquo;elle doive s&rsquo;occuper
            d&rsquo;un parent bless&eacute; ou malade. Si sa famille a besoin
            d&rsquo;aide, nous les aiderons, sinon nous les laisserons en paix.
            Si jamais elle est seule, comme nous le craignons, nous la
            recueillerons.
          </p>
          <p class="is-story">
            Le Peuple est ouvert &agrave; tous. Il peut accueillir ceux qui le
            d&eacute;sirent. Une nouvelle pr&eacute;sence dans ma vie me ferait
            le plus grand bien.
          </p>
          <em>Strif Dolmaar</em>
        </div>
      </div>
      <div class="box" id="separation">
        <div class="top-txt">
          <p class="subtitle is-4 has-text-centered">
            Aldor et la Guerre de la Séparation
          </p>
          <p class="is-recommended">
            Progression recommandée : avoir lu
            <em>
              D'Ombre et de feu -
              <i>Terres d'Ombre</i> </em
            >, chapitre 3 (presque aucun spoiler).
          </p>
          <p>
            <a
              href="/assets/others/Others_OSaF/La_separation_des_royaumes.epub"
              class="button is-info is-outlined is-pulled-left"
              >Télécharger</a
            >
            <button class="button is-primary btnModal is-pulled-right">
              Mode lecture
            </button>
            <modals class="modalTxt" />
          </p>
        </div>
        <div class="textArea has-text-justified">
          <p class="title has-text-centered is-chapter">
            Aldor et la Guerre de la Séparation
          </p>
          <p class="has-text-centered">
            <em>Préface : La séparation des royaumes</em>
          </p>
          <br />
          <br />
          <br />
          <p class="is-story">
            Avant d’étudier les faits et détails concernant la plus grande
            guerre civile qu’Aldor a connue jusqu’à ce jour, il est séant de
            commencer par l’origine historique et surtout politique de cette
            scission.
          </p>
          <p class="is-story">
            Pour ce faire, il faut remonter jusqu’à la mort du dernier roi de
            l’Aldor unifié. Le roi de la famille Meridien, Halos second du nom.
            Son fils ainé, Thalos, tout juste en âge de régner, prit la couronne
            avant même que le deuil de l’ancien roi n’eût commencé. Il créa de
            nouvelles lois vues par les uns comme relevant de la tyrannie,
            qualifiées par les autres de vectrices du paradigme vrai et
            universel. C’est ainsi que naquit l’esclavage en Aldor, ce qui,
            comme beaucoup le savent, mena à la guerre civile puis à la
            séparation d’Aldor en deux royaumes.
          </p>
          <p class="is-story">
            En réalité, cette guerre de trois cycles a une origine plus complexe
            et profonde. Elle est intrinsèquement liée à l’histoire de la
            famille Meridien. Il pourrait être séant de remonter jusqu’à
            l’origine de la généalogie du roi Halos&nbsp;II, cependant, ce
            serait là faire preuve d’excès de zèle. Le point de départ est à mon
            sens le jour où l’on a découvert que le fils ainé du roi, Thalos ne
            possédait pas l’énergision. Ce fait couplé à sa faiblesse physique
            déjà connue de tous ne le prédisposait pas à devenir le prochain
            souverain. Tandis que son puîné, Othar, faisait déjà preuve d’une
            exceptionnelle maîtrise de cette magie, malgré son jeune âge, Thalos
            se sentit rejeté par ses parents. Il comprit bien vite que le trône
            allait lui échapper.
          </p>
          <p class="is-story">
            C’est ainsi qu’il développa un don pour la parole, lui permettant
            d’attirer les faveurs des grands seigneurs. Sa haine envers son
            frère grandit aussi vite que sa popularité parmi les nobles. Othar,
            qui réussissait tout, avait l’aval informel de leur père pour
            prendre la relève, à l’instar de son frère ainé. Thalos le détestait
            tant qu’il fit appel à ses amis pour semer des embûches sur le
            parcours d’Othar. Son but était de discréditer son frère pour ainsi
            s’assurer d’être le successeur du roi. Avec sa langue acérée, il put
            rallier la plupart des nobles de la cour à sa manière de concevoir
            le monde, ainsi que les règles qui devaient selon lui le régir. Son
            plan avait déjà débuté.
          </p>
          <p class="is-story">
            C’est le jour du seizième hiver de son fils ainé que Halos&nbsp;II
            mourut.
          </p>
          <p class="is-story">
            Le fait que je vais relater n’est pas connu de tous et a été
            obscurci par l’Histoire&nbsp;: grâce à d’habiles stratagèmes de
            Thalos, les détails de la mort de notre père ont été occultés, si
            bien que son assassinat a été qualifié de «mort accidentelle». La
            version officielle, au sein des proches de la famille, était que le
            roi fut pris d’un étourdissement et chuta sur une caisse de
            couteaux, lesquels se plantèrent dans son dos en le tuant sur le
            coup. La version connue des habitants d’Aldor était toute autre,
            l’on parlait d’une chute mortelle dans les escaliers du donjon de
            Meridina.
          </p>
          <p class="is-story">
            Si je suis certaine qu’il s’agissait d’un assassinat, c’est parce
            que j’ai pu observer les blessures de mon père en aidant ma mère à
            l’habiller une dernière fois avant la crémation. J’ai vu deux
            grandes lacérations sans aucun doute causées par un glaive. Un
            simple couteau de table ne pouvait pas pénétrer la chair si
            profondément et si nettement. Un trou dans son dos et son buste
            indiquait clairement qu’une lame l’avait traversé de part en part.
            Je ne connais nul couvert assez long et aiguisé pour transpercer un
            homme et ressortir de l’autre côté. Même dans les caisses de
            couteaux, ceux-ci ne sont jamais rangés avec la pointe ou le
            tranchant exposés, par simple précaution.
          </p>
          <p class="is-story">
            Je m’en suis assurée à plusieurs reprises, refusant de prime à bord
            de croire que mon père, pourtant bon et apprécié de tous, fut
            assassiné. Aucune caisse de couteaux, qu’il s’agisse de celles des
            cuisines ou de celles des salles de repas de la cour, des gardes,
            des festivités, ne manquait ni ne présentait de couteaux rangés
            dangereusement, voire tachés de sang.
          </p>
          <p class="is-story">
            Bien que scribe et que mon éducation m’a toujours éloignée des
            armes, je sais reconnaître si une blessure est due à une arme ou un
            simple couvert. Les deux seuls candidats pour commettre un tel
            assassinat, aussi lâche fût-il, étaient mes deux grands frères. J’ai
            d’abord soupçonné Othar, car il maîtrisait bien mieux les lames que
            notre frère ainé. Cependant, après mûre réflexion, et voyant la
            rapidité avec laquelle Thalos s’est emparé du trône, il ne pouvait
            qu’être le responsable de ce meurtre. Thalos convoitait le trône
            depuis plusieurs cycles déjà et il voulait s’assurer que notre père
            ne donne pas officiellement sa succession à Othar comme il le
            prévoyait.
          </p>
          <p class="is-story">
            Je n’ai pas de suite fait part de cette information à Othar, sur la
            demande de notre mère que j’informai aussitôt. Malgré le rejet de ce
            qui était clair comme de l’eau de roche, elle finit après deux jours
            par me croire, se rendant à l’évidence.
          </p>
          <p class="is-story">
            Elle savait qu’une guerre entre mes deux frères allait résulter
            d’une telle révélation. Des dissensions au sein de notre famille
            n’étaient pas souhaitables selon elle, surtout si peu de temps après
            le décès du roi. Personne entre elle, Othar et moi ne voulait que du
            sang coule à nouveau, j’en suis certaine, car notre deuil était
            alors trop grand.
          </p>
          <p class="is-story">
            Thalos commença à créer de nouvelles lois liberticides pour notre
            peuple, quelques jours seulement après la mort de notre père. Othar
            ne vit pas cela d’un bon œil, il tentait d’apaiser les esprits qui
            commençaient à s’échauffer. Il essayait de raisonner notre frère
            afin qu’il revienne sur ses décisions, mais ce dernier était pris de
            folie, comme si une ivresse du pouvoir s’était emparée de lui. Il
            l’avait tant convoité, il l’avait pensé hors d’atteinte pendant
            toute son enfance. Si bien qu’une fois acquis, il ne savait plus
            quoi en faire. Ou plus exactement, il y déversait sa haine sans
            chercher à la contrôler, oubliant même quelque temps qu’il détestait
            son frère. C’est ainsi que débuta le règne de Thalos le Tyran.
          </p>
          <p class="is-story">
            Trois cycles plus tard, alors que le peuple menaçait de se révolter,
            il avait trouvé un moyen de les en empêcher. Après de nombreuses
            dépenses dilapidées en banquets et autres lubies, après s’être formé
            une immense armée et acheté la loyauté de tous les seigneurs d’Aldor
            ou presque, il instaura l’esclavage. Toute personne de «basse
            extraction», autrement dit qui n’avait aucun lien avec la noblesse
            depuis au moins trois générations, qui n’était pas garde et ne
            travaillant pas dans l’administration de la ville ou pour la
            justice, aussi, qui n’était ni propriétaire foncier ni agriculteur
            et enfin, qui ne pouvait s’acquitter de la somme de deux cents écus
            chaque lune était tatouée d’un M sur le front contre son gré.
          </p>
          <p class="is-story">
            Il y eut d’abord, les personnes sans toit sous lequel vivre et sans
            le sou, les marchands itinérants, mais surtout beaucoup d’enfants
            dont les parents ne pouvaient payer la liberté, ils furent suivis en
            général par le reste de leur famille les lunes suivantes et bien
            d’autres encore. Cet encrage marquait la propriété de la famille
            Meridien. Son armée forçait les habitants, le petit peuple à se
            faire marquer, d’où qu’ils vinrent. Certains tentèrent de se
            révolter, c’est pourquoi les exécutions publiques allaient de bon
            train pour montrer l’exemple.
          </p>
          <p class="is-story">
            Puis Thalos se mit à vendre des esclaves aux seigneurs, petite
            noblesse tout comme proches de la famille royale. Je ne vais pas
            m’appesantir sur ce qu’était l’esclavage, je vais seulement rappeler
            dans un but informatif les bases que chacun se doit de savoir&nbsp;:
            un esclave étant la propriété de la couronne, puis d’un maître
            noble, les tâches pouvaient aller de la cuisine aux plaisirs de la
            chair contre leur gré. Un esclave était considéré tel un objet, tous
            les pires cauchemars de celui qui lit ces lignes, même la torture
            par plaisir, étaient autorisés. Seul Dün sait quelles folies
            pouvaient passer dans l’esprit d’un maître. Mais s’attendre à ce que
            personne n’agisse fut une grave erreur.
          </p>
          <p class="is-story">
            Othar hésitait à arrêter son frère dans sa folie, il n’utilisait que
            les moyens conventionnels pourtant peu nombreux et sans effet. Mais
            le jour où une forme de résistance naquit, il regagna de l’espoir.
            Beaucoup se rebellèrent parmi toutes les classes. Ce mouvement n’eut
            pas une longue vie, ses partisans étaient trop peu nombreux, ils
            finirent par fuir dans la forêt d’Ayfest et fonder une communauté
            libre, plus tard nommée le Peuple. Othar voulut s’allier à eux et
            leur apporter des moyens et un réseau plus importants. Mais ceux du
            Peuple ne voulaient pas d’aide de ceux au pouvoir, même s’il
            s’agissait d’une bonne cause. Et avec la fin de ce mouvement mourut
            tout espoir de changer l’ordre des choses chez mon frère Othar. La
            bonté d’esprit dont il faisait part, ses tentatives pour sauver
            notre peuple m’avaient tant touchée que bientôt je ne pus retenir
            davantage le secret que je gardais depuis si longtemps.
          </p>
          <p class="is-story">
            Aujourd’hui encore j’en viens à me demander par quelle couardise je
            n’eus pas révélé l’assassinat de notre père plus tôt. Peut-être
            avais-je peur de me faire assassiner à mon tour? L’âge a effacé mes
            pensées de ce temps. À la révélation de mes observations concernant
            la mort de notre père, Othar devint fou de rage et une flamme en lui
            se raviva. Soutenu par notre mère et moi-même il se mit à vouer une
            haine indicible envers Thalos, l’accusant publiquement de
            l’assassinat de l’ancien roi.
          </p>
          <p class="is-story">
            L’accusation avait fait mouche parmi la noblesse, cependant le
            peuple n’en eut jamais entendu parler à cause des précautions
            établies par Thalos. Tout ce qui se disait à la cour y restait sauf
            si cela allait dans le sens du roi. Othar comprit bien vite qu’il
            allait dans notre intérêt de ne pas divulguer à tous ce secret,
            c’est pourquoi il ne chercha pas à s’étendre plus encore sur ce
            sujet. Les nobles qui furent présents lorsque l’assassinat fut
            dévoilé y virent l’occasion de se rebeller et ce fut amplement
            suffisant. La petite noblesse commençait déjà à faire les frais des
            lois de notre frère, leurs villages lorsqu’ils en étaient maîtres,
            devenaient déserts, ils ne produisaient plus aucune richesse et
            vivaient sur leurs réserves. Ils allaient être les prochains à être
            réduits en esclavage s’ils ne faisaient rien. Et comme tout un
            chacun le sait, la petite noblesse existe grâce à ses liens avec les
            puissants.
          </p>
          <p class="is-story">
            Pour la plupart, ils étaient issus du bas peuple, puis élevés à un
            meilleur rang, grâce à un service rendu à la bonne personne ou à de
            hauts faits, voire grâce à une fortune gagnée grâce à de nombreux
            efforts, ou bien un coup de chance s’ils étaient tombés sur le bon
            filon marchand. Même pour ceux qui s’en sortaient le mieux, le fait
            de voir leurs semblables ainsi traités les révoltait, ils se
            sentaient concernés de voir leurs amis, leur famille subir une telle
            condition.
          </p>
          <p class="is-story">
            C’est ainsi que la vraie rébellion débuta. Beaucoup de seigneurs
            soupçonnaient déjà que l’ancien roi fut assassiné. Cette révélation
            les remit sur le droit chemin. Ils retrouvèrent la raison et
            contestèrent que le trône fût occupé par Thalos. Ils eurent l’appui
            conséquent de toute la petite noblesse, ainsi que de ceux du peuple
            qui avaient le courage de se rebeller pour retrouver leur liberté.
          </p>
          <p class="is-story">
            Othar gagna en popularité, mais ce n’était pas suffisant pour
            prendre la place de notre frère. La guerre civile commença et Othar
            s’installa loin au sud, à Aubepierre, rejoignant notre mère qui y
            était déjà présente. Il avait choisi cette grande ville pour se
            protéger et établir son camp contre Thalos. Son autorité dans
            l’ancienne propriété de la couronne était incontestée après tous les
            efforts que notre mère avait menés en amont. Tous ceux qui
            refusaient le règne de Thalos suivirent Othar. Chacun de ses
            nouveaux sujets était traité comme un noble et avait la même
            importance au sein du peuple du royaume naissant.
          </p>
          <p class="is-story">
            Lorsque je lui proposai de nommer son peuple différemment pour bien
            le différencier de ceux qui restaient fidèles à Thalos, il accepta.
            Il nomma son peuple les Longvivant, car il espérait que le règne
            souverain du peuple vivrait longtemps. Afin de montrer que nous
            voulions nous séparer de la famille Meridien, notre mère, mon frère
            et moi avons aussi choisi le nom de Longvivant, abandonnant celui de
            Meridien. Thalos quant à lui affirma l’emprise de la famille
            Meridien sur les habitants et nomma ses terres Meridion.
          </p>
          <p class="is-story">
            La frontière entre les deux royaumes, telle qu’elle est aujourd’hui,
            fut le résultat de nombreuses batailles. Nous avons dû fuir Meridina
            avec Othar en toute discrétion pour rejoindre Aubepierre. Nombre de
            nobles nous avaient rejoints seulement lorsqu’Othar revint au-devant
            de la scène, une fois en sécurité. Bien entendu, la plupart des
            petits nobles vivaient dans le sud d’Aldor, loin de la capitale, là
            où la prospérité était moindre. Mais certains des plus fortunés
            avaient tout de même rejoint Othar, de même que plusieurs personnes
            du personnel du château de Meridina, ce qui permit d’affirmer son
            assise sur le nouveau trône.
          </p>
          <p class="is-story">
            Les batailles firent rage tandis que de plus en plus ralliaient le
            royaume des Longvivant. La guerre cessa lorsque Meridina fut
            détruite. Quelques courageux nobles et soldats avaient préparé et
            lancé seuls un assaut contre la capitale tandis que les troupes
            Longvivant étaient bien loin en train de se battre contre les
            soldats meridioniens. Les catapultes avaient visé en priorité le
            château et certains des assaillants avaient infiltré la ville à
            l’intérieur des murailles. Ils avaient préparé leur action dans le
            plus grand secret et avec tant de précautions que l’effet avait été
            immédiat. Beaucoup de bâtiments furent incendiés, les catapultes
            avaient détruit beaucoup de ceux qui restaient après avoir ouvert le
            château en deux. Le nombre de morts était si conséquent que Thalos
            en fit partie. Un de nos cousins, Katór, prit le trône de Meridion
            après avoir éliminé les assaillants. Celui-ci avait toujours été du
            côté de Thalos, bien que moins extrême dans sa manière de concevoir
            le monde.
          </p>
          <p class="is-story">
            Notre cousin demanda une trêve pour mettre en place des
            négociations, ce qui mena à la paix que nous connaissons
            aujourd’hui. Othar voulait récupérer le trône à Meridina et
            réunifier les deux royaumes, mais Katór refusa. Trop de seigneurs
            étaient encore sous son contrôle. Il promit néanmoins d’abolir
            l’esclavage afin d’éviter que les Longvivant ne reprennent les
            attaques. Ce fut les seules négociations qui aboutirent, car de
            chacun des deux côtés, il ne restait plus assez de monde pour
            continuer la guerre. Les Longvivant n’avaient pas assez de poids
            pour exiger plus sans envoyer femmes et enfants à la guerre. Même si
            Katór semblait manquer de pitié pour se rendre compte que lui seul
            comptait les utiliser en dernier recours, il était suffisamment bien
            conseillé pour comprendre que continuer la guerre allait
            indubitablement mener vers la fin d’Aldor. Ainsi, il pouvait donc
            garder son trône qu’il avait acquis de manière opportune.
          </p>
          <p class="is-story">
            L’empire d’Eliné ne comptait pas participer à notre guerre,
            cependant il appréciait Othar, qui avait tenté d’ouvrir au mieux le
            commerce entre nos deux continents. C’est pourquoi l’empereur avait
            accepté d’apporter son soutien à Othar dans les négociations avec
            Katór. Si ce dernier faisait un faux pas, l’empereur comptait
            envoyer des armes, pierres, métaux et autres ressources de guerre
            déjà travaillés aux Longvivant.
          </p>
          <p class="is-story">
            Ainsi s’acheva la
            <em>Guerre des deux frères</em> comme elle aurait dû être appelée.
          </p>
          <p class="is-story">
            C’est seulement à cinquante-quatre cycles, alors que mon frère, feu
            le roi Othar Longvivant premier du nom, que je couche sur papier la
            vérité derrière cette guerre. Seuls les premiers nobles à nous avoir
            rejoints contre notre frère furent au courant de la vérité. Il nous
            a demandé de garder ce secret jusqu’à sa mort, il ne voulait pas
            jeter l’opprobre sur la mémoire de notre frère, malgré sa haine
            envers lui. Il avait en outre peur que certains y voient un élan
            d’opportunisme lié au mensonge, après tout ce temps passé sans
            révéler ce secret.
          </p>
          <p class="is-story">
            Le peuple aurait pu croire que seule la mort de notre père l’avait
            mené à se rebeller, et non la condition du peuple qui s’était tant
            dégradée. Il aurait été accusé d’avoir des priorités déplacées. Même
            si rien de cela ne relève de la certitude, il voulait mettre toutes
            les chances de son côté et permettre au royaume d’être le plus
            stable possible. Il ne tenait pas à perdre la face, encore moins
            avoir à ce que je subisse des reproches pour n’avoir pas dit la
            vérité à temps. Encore maintenant le royaume est fragile, certaines
            vérités sont plus utiles enterrées qu’exposées au grand jour. Je ne
            compte cependant pas emporter ce secret dans ma tombe.
          </p>
          <p class="is-story">
            Le royaume des Longvivant ne peut se terrer dans le mensonge comme
            le fait si bien Meridion. Je suis convaincue que tous les Longvivant
            comprendront et sauront faire face à ce qu’engendre une telle
            révélation. Nous devons tous garder à l’esprit qu’Othar aurait dû
            être le souverain légitime d’Aldor. Il ne s’est pas créé un royaume
            à cause de la déception de n’avoir pas eu accès au trône. Il a mené
            la rébellion pour sauver le peuple en premier lieu, puis pour venger
            notre père.
          </p>
          <p class="is-story">
            Notre famille peut enfin s’éteindre en respectant la devise du
            royaume Longvivant,
          </p>
          <p class="is-story">
            <em>Que la vérité, la liberté et l’honneur triomphent</em>
            <em>!</em>
          </p>
          <br />
          <p class="is-story">
            Comme notre père, Othar fut un roi attentionné, qui aimait chacun de
            ses sujets comme il aimait sa famille. Grâce à son règne, la
            prospérité et la paix attendent désormais les Longvivant.
          </p>
          <br />
          <br />
          <p class="has-text-right">
            <em>Par Tala Ar-Longvivant,</em>
            <br />
            <em>
              née Tala Meridien,
              <br />cadette du roi Halos II d’Aldor et sœur du premier roi
              Longvivant, Othar.
            </em>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Modals from "@/components/Modals.vue";

export default {
  components: { Modals }
};
</script>
