<template>
  <section class="section">
    <div class="content">
      <div class="box has-text-justified">
        <p class="title">À propos</p>
        <p class="subtitle">Qui suis-je, contact ... etc</p>
        <ul>
          <li>
            <a href="#platforms">Où trouver mes livres</a>
          </li>
          <li>
            <a href="#me">À propos de moi &amp; mes écrits</a>
          </li>
          <li>
            <a href="#site">À propos de ce site</a>
          </li>
          <li>
            <a href="#contact">Contact et liens</a>
          </li>
        </ul>
      </div>
      <div class="box has-text-justified">
        <p class="title" id="platforms">Où trouver mes livres</p>
        <p style="color: red">Mon premier livre est enfin publié !</p>
        <p class="subtitle">Version papier (à la demande + livraison)</p>
        <p>
          Uniquement sur
          <a
            href="https://www.bookelis.com/fantastique/34579-D-Ombre-et-de-Feu.html#/22-type_livre-papier"
            tagert="_blank"
            >Bookelis</a
          >
        </p>
        <p class="subtitle">Version ebook</p>
        <ul>
          <li>
            <a
              href="https://www.bookelis.com/fantastique/34579-D-Ombre-et-de-Feu.html#/65-type_livre-epub"
              target="_blank"
              >Bookelis</a
            >
          </li>
          <li>
            <a
              href="https://www.amazon.fr/dp/B07XH2H9Z3/ref=sr_1_1?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=d%27ombre+et+de+feu&qid=1567700127&s=digital-text&sr=1-1"
              target="_blank"
              >Amazon / Kindle</a
            >
          </li>
          <li>
            <a
              href="https://www.kobo.com/fr/fr/ebook/d-ombre-et-de-feu"
              target="_blank"
              >Fnac / Kobo</a
            >
          </li>
          <li>
            Apple Books
            <i>(on mac / iOS, directly on your book app)</i>
          </li>
          <li>
            <a
              href="https://www.bookeenstore.com/ebook/9791035900762/d-ombre-et-de-feu-fael-karais"
              target="_blank"
              >Bookeen</a
            >
          </li>
          <li>
            <a
              href="https://www.decitre.fr/ebooks/d-ombre-et-de-feu-9791035900762_9791035900762_10.html"
              target="_blank"
              >Decitre</a
            >
          </li>
          <li>
            <a
              href="https://www.librel.be/ebook/9791035900762-d-ombre-et-de-feu-fael-karais/"
              target="_blank"
              >Librel</a
            >
          </li>
          <li>
            <a
              href="https://www.epagine.fr/ebook/9791035900762-d-ombre-et-de-feu-fael-karais/"
              target="_blank"
              >ePagine</a
            >
          </li>
        </ul>
      </div>
      <div class="box has-text-justified">
        <p class="title" id="me">À propos de moi &amp; mes écrits</p>
        <p class="subtitle">Écrivain, mais pas que</p>
        <p>
          L'écriture est l'un de mes passe-temps bien que je prenne cela très au
          sérieux ! Je peux passer des jours – et des nuits – entiers à écrire
          et il faut parfois que l'on m'arrête... Quand je ne code pas, j'écris,
          ce ne doit pas être très bon pour ma vue, mais la vie serait ennuyeuse
          autrement !
        </p>
        <p>
          <q>Mais ce n'est pas pourquoi vous êtes venu ici, n'est-ce pas ?</q>
        </p>
        <p>
          Je suis un écrivain qui a décidé de s'installer à Luleå en Suède. La
          scandinavie m'a toujours inspiré c'est donc naturellement que j'ai
          décidé de m'y rendre pour essayer d'y vivre. En fait, mon premier
          voyage vers la Suède – et donc la Scandinavie – est arrivé un peu
          tard, j'avais déjà fini le premier jet du premier tome
          <em>D'Ombre et de Feu</em> ! Mais au final, j'en ai beaucoup appris à
          propos de cet région unique au monde ainsi que sur son peuple, ses
          cultures, assez pour améliorer l'univers <em>D'Ombre et de Feu</em>.
        </p>
        <p>
          <q>Au final, puis-je dire que je suis un écrivain ?</q>
        </p>
        <p>
          Ça dépend de ce que vous voulez dire par "être un écrivain", certains
          vous diront qu'il faut vivre de cette activité pour se nommer ainsi. À
          mon humble avis cela dépend plus de la manière dont on appréhende
          l'écriture et à quel point on s'y plonge. On écrit une histoire ou
          plusieurs d'un coup, qu'importe le temps, l'énergie, et surtout
          <strong>temps</strong> que cela prend. Et même lorsque l'on croit
          avoir fini d'écrire, on est toujours plongé dans l'écriture.
        </p>
        <p>
          On n'en a jamais fini avec son livre, son univers, son histoire, ses
          personnages !
          <strong>JAMAIS !</strong>
        </p>
        <p>
          On en rêve la nuit, on y pense tous les jours, bien que cela ne
          rapporte pas un seul centime pendant plusieurs années, on continue
          d'améliorer notre histoire, on en écrit d'autres à partir de celle-ci,
          on améliore l'univers et les traditions, cultures qui y sont
          présentes, on améliore notre style d'écriture, notre approche de la
          création de scénario, on rend les personnages plus humains...etc et
          tout ça sans parler de l'innombrable quantité de corrections, aussi
          importantes soient-elles que nous apportons à nos écrits.
        </p>
        <q>Bref... On vit pour écrire ! (ou l'inverse)</q>
        <p>
          Mais j'exagère peut-être un peu, après tout, j'ai toujours une vie à
          côté de l'écriture : je suis un développeur front-end autodidacte.
          Apprendre à coder, faire des erreurs encore et encore, puis apprendre
          encore plus en les corrigeant, apprendre d'autres langages
          informatiques, leurs frameworks, les technologies indispensables et
          autres... tout ça a été un processus qui a duré plusieurs mois et cela
          a requis un temps considérable, un temps que je n'ai pas pu avoir pour
          mes écrits.
        </p>
        <p>
          En conclusion, être un auteur (ou plus précisément, écrivain) n'est
          peut-être pas un "vrai" travail dans mon cas, mais cela n'empêche de
          faire de moi un auteur !
        </p>
        <br />
        <p class="subtitle">Mes univers &amp; inspirations</p>
        <p>
          Pour le moment, mon seul univers est celui où
          <em>D'Ombre et de Feu</em> prend place, mais j'ai déjà écrit quelques
          petites histoires annexes, autour de ce qui se passe dans le livre et
          j'en ai encore d'autres dans le même univers, mais sans lien direct
          avec cette saga.
        </p>
        <q>OK, mais à propos D'Ombre et de Feu ?</q>
        <p>
          J'ai commencé à l'écrire en Juin 2016, cela m'a pris environ 3 mois
          pour finir le premier jet. Étant donné qu'il s'agit de mon premier
          livre et qu'il résultait d'idées que j'avais déjà auparavant,
          lesquelles j'avais déjà couchées sur papier il y avait longtemps de
          cela pour certaines d'entre elles, j'ai dû les relire à maintes
          reprises les relire, changer et corriger afin d'atténuer les couches
          d'écriture trop différentes qui se superposaient. Et bien entendu,
          j'ai eu plusieurs travails tout au long de ce processus, mais cela ne
          m'a jamais empêché de me pencher sur mon livre dès que j'en avais
          l'opportunité.
        </p>
        <p>
          J'ai dû faire de très nombreuses corrections, améliorations, mais
          aussi concessions. J'ai souvent dû admettre que mon livre n'était pas
          bon sur certains points et il a donc fallu enlever et ajouter
          certaines parties. Il m'aura fallu essayer de prendre du recul en
          permanence et accepter les critiques que je recevais afin d'améliorer
          mon histoire. Je sais bien qu'un livre n'est jamais parfait, mais
          pendant longtemps ce premier tome n'était pas suffisamment bon, mais
          maintenant c'est enfin fini. Il n'est toujours pas parfait, car à
          chaque relecture je pourrais rajouter ou enlever du contenu, mais il
          faut un jour savoir s'arrêter !
        </p>
        <q>
          Super ! Mais quelles sont mes inspirations ? Comment ai-je eu cette
          idée ?
        </q>
        <p>
          J'ai commencé à écrire mes premières lignes sur cet univers lorsque
          j'avais entre quatorze et quinze ans, Je savais que j'aimais bien
          écrire et que je n'étais pas mauvais. Mais je n'étais pas suffisamment
          sérieux et engagé dans la tâche, j'ai donc très vite arrêté d'écrire.
          À chaque fois que je m'y remettais, c'était le temps de quelques
          lignes avant que je n'oublie de continuer pendant plusieurs jours,
          mois, voire même années...
        </p>
        <p>
          Le premier avacement notable que j'ai pu faire pour la création de
          cette histoire s'est déroulé lorsque j'avais dix-sept ans, presque
          dix-huit. Je jouais à un jeu de rôle en ligne et j'avais envie
          d'écrire l'histoire de mon personnage. J'ai donc utilisé mes
          précédents écrits (pas même la moitié du premier chapitre) pour les
          adapter à mon personnage. C'est ainsi qu'Arion est devenu une fille
          nommée
          <em>Ylith</em>, tout comme mon personnage.
        </p>
        <p>
          J'ai trouvé ce nom dans
          <em>Les Chronique de Krondor</em>, il s'agissait du nom d'une ville
          (je n'ai lu que les trois premiers tomes de cette saga et ce nom n'est
          mentionné qu'une ou deux fois), lequel j'avais choisi pour pseudonyme
          sur tous les jeux en ligne auxquels j'ai pu joué lorsque je n'avais
          qu'à peine treize ans... Mais encore une fois, après un mois, je me
          suis arrêté d'écrire.
        </p>
        <p>
          J'ai été largement inspiré par Robin Hobb et sa génialissime série
          <em>L'Assassin Royal</em> et d'autres de ses oeuvres, mais aussi par
          <em>Le trône de Fer</em>.
        </p>
        <q>Classique, vous me direz, et vous aurez très certainement raison</q>
        <p>
          Ça a été un de mes plus gros soucis pendant l'écriture du livre, je
          voulais faire quelque chose de différent, en tout cas personnel, pas
          une œuvre qui au final ne m'appartiendrait pas vraiment et serait trop
          proche de ce qui existe déjà. Je dois admettre que mon premier livre
          n'est pas extraordinaire dans ce sens, mais la suite va devenir plus
          novatrice et unique, j'y ai travaillé depuis un bon bout de temps
          maintenant !
        </p>
        <p>
          Mais j'ai aussi été inspiré par des séries télévisées, entre autres
          <em>Outlander</em> (je n'ai pas encore lu la série de livres, mais ça
          arrivera, promis !), et bien d'autres, notamment des mangas !
          J'utilise voire réimagine les idées qui me plaisent, les filtrant au
          travers de ma créativité pour me les approprier et rendre mon histoire
          unique, bien qu'Aldor, la principale région dans laquelle se déroule
          le premier tome semble relativement "commun" dans ce que l'on voit
          habituellement dans ce genre.
        </p>
        <q>Maintenant j'espère ne pas avoir fait trop de promesses !</q>
      </div>
      <div class="box has-text-justified">
        <p class="title" id="site">À propos de ce site</p>
        <p class="has-text-grey-light">Version actuelle du site : 1.0.0</p>
        <!--TODO : changelog view-->
        <p>
          J'ai moi-même entièrement développé ce site, vous pouvez trouver mon
          portfolio
          <a href="https://ka-raph.gitlab.io/portfolio/">ici</a>&nbsp;
          <i>(en anglais)</i>, pensez à le visiter pour voir d'autres de mes
          créations en tant que développeur front-end.
        </p>
        <p>
          Tout le contenu de ce site est 100% original, je n'utilise pas
          d'images ni de texte soumis au copyright, les auteurs des différentes
          oeuvres présentées (carte, couverture) sont nommés en-dessous de
          celles-ci si vous êtes intéressés par leurs compétences.
        </p>
        <p>
          Ce site est hébergé sur
          <a href="https://gitlab.com/">GitLab</a>, la connexion est sécurisée
          bien qu'il n'y ait AUCUNE transaction possible sur ce site. Pour
          acheter mes oeuvres, vous ne pouvez les trouver que sur les sites
          marchands listés
          <a href="platforms">ici</a>
          !
        </p>
      </div>
      <div class="box has-text-justified">
        <p class="title" id="contact">Contact et liens</p>
        <ul>
          <li>
            Page Facebook
            <a
              href="https://www.facebook.com/DOmbre-et-de-Feu-397184007692615/"
              target="_blank"
              >D'Ombre et de Feu</a
            >
          </li>
          <li>
            <a
              href="https://www.scribay.com/author/1671008664/fael-karais"
              target="_blank"
              >Profil Scribay</a
            >
            (la plupart de mes nouveaux écrits y seront publiés en
            avant-première)
          </li>
          <li>
            <a
              href="https://www.bookelis.com/auteur/karampournis-raphael/17468"
              target="_blank"
              >Profil Bookelis</a
            >
          </li>
          <li>
            Me contacter par
            <a href="mailto:faelk.contact@gmail.com">e-mail</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>
