<template>
  <section class="section">
    <div class="content">
      <div class="box has-text-justified">
        <p class="title">Autres histoires</p>
        <p>
          Ce n'est pas parce que j'ai écrit un livre que je n'ai pas le droit
          d'écrire autre chose !
        </p>
        <p>
          En fait j'ai déjà écrit d'autres courtes histoires dans l'univers
          <em>D'ombre et de Feu</em> et je serai très certainement amené à faire
          de même dans d'autres univers. Si vous aimez mes écrits – ou si vous
          êtes tout simplement curieux, vous pouvez visiter les liens ci-dessous
          :
          <i>(tout est gratuit, bien sûr)</i>
        </p>
        <ul>
          <li>
            <router-link to="/extra-stories/in-of-shadow-and-fire">
              Dans le monde
              <em>D'Ombre et de feu</em>
            </router-link>
          </li>
          <li>
            <router-link to="/extra-stories/others">Autres</router-link>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>
