<template>
  <div class="home">
    <section class="section">
      <div class="content">
        <div id="promo-corona" class="box has-text-justified">
          <p class="title">Promotion spéciale !</p>
          <p class="subtitle">Toujours un temps de retard...</p>
          <p>
            Le temps passe vite... ou pas lorsqu'on est confinés, c'est à vous
            de me le dire ! Ce n'est pas le cas en Suède, du coup, depuis mon
            déménagement je n'ai pas vu le temps filer et je n'ai pas une seule
            fois mis à jour ce site ni ma page facebook, vous m'en voyez
            confus...
          </p>
          <p>
            Pour me faire pardonner une seconde fois, et par élan de solidarité,
            vous pouvez dès maintenant trouver
            <em>D'Ombre et de Feu : Terres d'Ombre</em> au format ebook à
            <strong>0.49€</strong> sur votre librairie de livres numériques
            préférée jusqu'au 12 Avril ! Cette promotion sera probablement
            prolongée jusqu'à la fin de la quarantaine en France, rien que pour 
            vous et vos proches, amis et autres 😉
          </p>
          <p>
            Liens d'achat
            <router-link to="/of-shadow-and-fire/buy#doedf1">ici</router-link>.
          </p>
          <p>Bonne lecture !</p>
          <p class="publishing-date">
            Publié le
            <i>4 Avril 2020</i>
          </p>
        </div>
        <div class="box has-text-justified">
          <p class="title">Chapitre 3 et nouveau contenu annexe</p>
          <p class="subtitle">Après tant de temps d'absence...</p>
          <p>
            Cela faisait presque un mois que je n'avais pas donné de nouvelles
            et je m'en excuse ! Cette absence est dûe à mon changement de
            situation professionnelle, entre autres choses. Mais maintenant que
            la situation se stabilise pour moi, je vais pouvoir mettre les
            bouchées doubles et vous offrir plus de contenu plus régulièrement
            et peut-être même plusieurs bonnes nouvelles dans la semaine ;)
          </p>
          <p>
            Pour me faire pardonner, vous pouvez trouver un nouveau récit
            contant l'histoire de la
            <em>Séparation</em> qui divisa Aldor en deux royaumes :
            <i>Meridion</i> et <i>le Royaume des Longvivant</i>,&nbsp;
            <router-link to="/extra-stories/in-of-shadow-and-fire"
              >ici</router-link
            >&nbsp;!
          </p>
          <p>
            Pour ceux qui ne l'auraient pas remarqué, le chapitre 3 a aussi fait
            son apparition sur ce siute il y a quelque temps de cela, vous
            pouvez le retrouver
            <router-link to="/of-shadow-and-fire/extracts">ici</router-link
            >&nbsp;!
          </p>
          <p>À très bientôt !</p>
          <p class="publishing-date">
            Publié le
            <i>13 Octobre 2019</i>
          </p>
        </div>
        <div class="box has-text-justified">
          <p class="title">100 abonnés sur Facebook !</p>
          <p class="subtitle">J'ai une surprise pour vous :</p>
          <p>
            Tout d'abord, merci à vous ! Pour vous faire preuve de ma gratitude,
            je mets à disposition mon livre
            <em>D'Ombre et de Feu - Le Désert Noir</em> gratuitement
            <span style="text-decoration: line-through">ici</span>&nbsp;(délai
            dépassé !).
          </p>
          <strong>Bonne lecture !</strong>
          <p class="publishing-date">
            Publié le
            <i>16 Septembre 2019</i>
          </p>
        </div>
        <div class="box has-text-justified">
          <p class="title">Publié !</p>
          <p class="subtitle">Version papier et ebook</p>
          <p>
            Le jour J est arrivé, mon premier livre,
            <em>D'Ombre et de Feu</em> est enfin publié ! Vous pouvez désormais
            le commander en version papier et ebook, qu'attendez-vous ?
          </p>
          <q>
            Est-ce que ça en vaut la peine ? Un livre amateur, auto publié ça
            doit pas être si terrible...
          </q>
          <p>
            Lisez / téléchargez les premiers chapitres
            <router-link to="/of-shadow-and-fire/extracts">par ici</router-link
            >&nbsp;et faites-vous votre propre avis ! <br />Tous les liens
            d'achat se trouvent
            <router-link to="/of-shadow-and-fire/buy">ici</router-link>&nbsp;!
          </p>
          <p class="publishing-date">
            Publié le
            <i>07 Septembre 2019</i>
          </p>
        </div>
        <div class="box has-text-justified">
          <p class="title">Nouvelle histoire</p>
          <p class="subtitle">
            Dans l'univers
            <em>D'Ombre et de Feu</em>
          </p>
          <p>
            Un court récit a fait son apparition dans la section
            <router-link to="/extra-stories/in-of-shadow-and-fire">
              Autres histoires / Dans le monde
              <em>D'Ombre et de Feu</em> </router-link
            >.
          </p>
          <p>
            Allez y jeter un oeil
            <strong>
              uniquement si vous avez lu les deux premiers chapitres de
              <em>D'Ombre et de Feu</em> !
            </strong>
          </p>
          <p class="publishing-date">
            Publié le
            <i>06 Septembre 2019</i>
          </p>
        </div>
        <div class="box has-text-justified">
          <p class="title">Nouveaux sites pour précommande disponibles !</p>
          <p class="subtitle">Kindle / Kobo</p>
          <p>
            Vous pouvez désormais précommander mon ebook sur Amazon / Kindle et
            sur Kobo (liseuse FNAC) !
            <br />Liens
            <router-link to="/of-shadow-and-fire/buy">ici</router-link>&nbsp;!
          </p>
          <p class="publishing-date">
            Publié le
            <i>05 Septembre 2019</i>
          </p>
        </div>
        <div class="box has-text-justified">
          <p class="title">Précommandes disponibles</p>
          <p class="subtitle">(Version ebook uniquement)</p>
          <p>
            Je suis heureux de vous annoncer le lancement des précommandes dès
            maintenant !
          </p>
          <p>
            La précommande n'est actuellement disponible que sur
            <a
              href="https://www.bookelis.com/fantastique/34579-D-Ombre-et-de-Feu.html"
              target="_blank"
              >Bookelis</a
            >. Je vous tiendrai au courant dès que l'ebook sera disponible sur
            d'autres plateformes
            <i>(Amazon / Kindle, Apple Books, FNAC / Kobo...etc)</i>. En
            attendant vous pouvez toujours lire
            <router-link to="/of-shadow-and-fire/extracts">par ici</router-link
            >&nbsp;le prologue ainsi que les deux premiers chapitres de
            <em>D'Ombre et de Feu</em>.
          </p>
          <p>
            Je vous invite aussi à visiter ce site si jamais vous avez des
            questions sur certains termes particuliers rencontrés dans
            l'histoire ou bien pour visualiser la carte de Meridion par exemple
            ! Je rajouterai du contenu dans le temps, entre autres des histoires
            parallèles à
            <em>D'Ombre et de Feu</em> ainsi que d'autres se déroulant dans des
            univers différents.
          </p>
          <p class="publishing-date">
            Publié le
            <i>04 Septembre 2019</i>
          </p>
        </div>
        <div class="box has-text-justified">
          <p class="title">Couverture achevée !</p>
          <p>
            <span class="image btnModal floating-img">
              <img src="../assets/bookex.jpg" />
            </span>
            <modals class="modalImg" />La couverture du premier tome
            <router-link to="/of-shadow-and-fire">D'Ombre et de Feu</router-link
            >&nbsp;est terminée ! Je suis extrêmement fier de pouvoir vous la
            présenter, en espérant qu'elle vous plaise autant qu'à moi.
          </p>
          <p>
            Cette couverture est signée
            <a href="https://www.facebook.com/blackstainstudio/"
              >@Black Stain Studio</a
            >
            qui a fait un excellent travail. Ce n'est pas aussi bien que je
            l'imaginais, mais bien mieux, autant dire que je n'ai pas de regrets
            d'avoir fait appel à lui. Après tout, ce n'est pas pour rien que je
            l'ai choisi, je savais que nous allions bien nous entendre et nous
            comprendre tout au long de ce processus artistique.
            <i>(Puis c'est mon cousin, la famille d'abord !)</i>
          </p>
          <p>
            Si jamais vous n'avez pas encore lu le résumé, vous pouvez y accéder
            <router-link to="/of-shadow-and-fire/summary">ici</router-link>, et
            que vous vouliez lire la suite ou non, vous pouvez toujours
            télécharger ou lire sur ce site des extraits gratuits
            <router-link to="/of-shadow-and-fire/extracts">par ici</router-link
            >.
          </p>
          <p class="publishing-date">
            Publié le
            <i>29 Août 2019</i>
          </p>
        </div>
        <!-- Content box sample


        <div class="box has-text-justified">
          <p class="title">Lorem Ispum</p>
          <p class="subtitle">Dolor sit amet</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue
            neque gravida in fermentum et. Odio facilisis mauris sit amet massa.
            Sed egestas egestas fringilla phasellus faucibus scelerisque
            eleifend donec. Malesuada fames ac turpis egestas. Adipiscing
            commodo elit at imperdiet dui accumsan sit amet. Maecenas ultricies
            mi eget mauris pharetra et ultrices neque. Venenatis cras sed felis
            eget velit aliquet sagittis id consectetur. Lectus proin nibh nisl
            condimentum id venenatis a. Vitae ultricies leo integer malesuada
            nunc vel risus. Molestie a iaculis at erat pellentesque adipiscing
            commodo elit at. Facilisis mauris sit amet massa vitae tortor
            condimentum lacinia quis. Tellus in metus vulputate eu. Est sit amet
            facilisis magna. Vivamus arcu felis bibendum ut tristique et egestas
            quis. Et malesuada fames ac turpis egestas sed tempus.
          </p>
          <p class="publishing-date">
            Publié le
            <i>29/08 2019</i>
          </p>
        </div>
        -->
      </div>
    </section>
  </div>
</template>
<script>
import Modals from "../components/Modals.vue";
export default {
  components: { Modals }
};
</script>
