<template>
  <section class="section">
    <div class="content">
      <div class="box has-text-justified">
        <p class="title">D'Ombre et de feu</p>
        <p>
          D'Ombre et de feu est ma principale histoire, le premier tome va
          bientôt sortir !
          <em>Sortie prévue pour le 7 Septembre</em>.
        </p>
        <p>
          Vous pouvez toujours lire le résumé (en espérant que ça va vous donner
          envie d'en lire davantage !), autrement ils est possible d'en
          apprendre plus sur le monde et vous pouvez même avoir accès à des
          extraits gratuits :
        </p>
        <ul>
          <li>
            <router-link to="/of-shadow-and-fire/buy">Acheter</router-link>
          </li>
          <li>
            <router-link to="/of-shadow-and-fire/summary">Résumé</router-link>
          </li>
          <li>
            <router-link to="/of-shadow-and-fire/map"
              >Carte de Meridion</router-link
            >
          </li>
          <li>
            <router-link to="/of-shadow-and-fire/vocabulary"
              >Vocabulaire spécifique</router-link
            >
          </li>
          <li>
            <router-link to="/of-shadow-and-fire/extracts"
              >Extraits gratuits</router-link
            >
          </li>
        </ul>
      </div>
      <div class="box">
        <p class="title">Couverture</p>
        <figure>
          <img src="../assets/cover.png" />
          <figcaption>
            Réalisation :
            <a href="https://www.facebook.com/blackstainstudio/" target="_blank"
              >Black Stain Studio</a
            >
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
</template>
