<template>
  <section class="section">
    <div class="content">
      <div id="promo-corona" class="box has-text-justified">
        <p class="title">Promotion spéciale !</p>
        <p class="subtitle">Toujours un temps de retard...</p>
        <p>
          Le temps passe vite... ou pas lorsqu'on est confinés, c'est à vous de
          me le dire ! Ce n'est pas le cas en Suède, du coup, depuis mon
          déménagement je n'ai pas vu le temps filer et je n'ai pas une seule
          fois mis à jour ce site ni ma page facebook, vous m'en voyez confus...
        </p>
        <p>
          Pour me faire pardonner une seconde fois, et par élan de solidarité,
          vous pouvez dès maintenant trouver
          <em>D'Ombre et de Feu : Terres d'Ombre</em> au format ebook à
          <strong>0.49€</strong> sur votre librairie de livres numériques
          préférée jusqu'au 12 Avril ! Cette promotion sera probablement
          prolongée jusqu'à la fin de la quarantaine en France, rien que pour
          vous et vos proches, amis et autres 😉
        </p>
        <p>
          Liens d'achat
          <router-link to="/of-shadow-and-fire/buy#doedf1">ici</router-link>.
        </p>
        <p>Bonne lecture !</p>
        <p class="publishing-date">
          Publié le
          <i>4 Avril 2020</i>
        </p>
      </div>
    </div>
  </section>
</template>
