<template>
  <section class="section">
    <div class="content">
      <div class="box has-text-justified">
        <p class="title" id="platforms">
          Où trouver mes livres
        </p>
        <p>
          <p style="color: red">Le second tome de <em>D'Ombre et de Feu</em> est en route !</p>
          <p>Liste d'ouvrages publiés : </p>
          <ul>
            <li>
              <a href="#doedf1">
                D'Ombre et de Feu : <i>Terres d'Ombre</i>
              </a>
            </li>
          </ul>
        </p>
      </div>

      <div id="doedf1" class="box has-text-justified">
        <p class="subtitle">
          <em>
            D'Ombre et de Feu:
            <i>Terres d'Ombre</i>
          </em>
        </p>
        <p class="subtitle">Version papier (à la demande + livraison)</p>
        <p>
          Uniquement sur
          <a
            href="https://www.bookelis.com/fantastique/34579-D-Ombre-et-de-Feu.html#/22-type_livre-papier"
            tagert="_blank"
            >Bookelis</a
          >
        </p>
        <p class="subtitle">Version ebook</p>
        <ul>
          <li>
            <a
              href="https://www.bookelis.com/fantastique/34579-D-Ombre-et-de-Feu.html#/65-type_livre-epub"
              target="_blank"
              >Bookelis</a
            >
          </li>
          <li>
            <a
              href="https://www.amazon.fr/dp/B07XH2H9Z3/ref=sr_1_1?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=d%27ombre+et+de+feu&qid=1567700127&s=digital-text&sr=1-1"
              target="_blank"
              >Amazon / Kindle</a
            >
          </li>
          <li>
            <a
              href="https://www.kobo.com/fr/fr/ebook/d-ombre-et-de-feu"
              target="_blank"
              >Fnac / Kobo</a
            >
          </li>
          <li>
            Apple Books
            <i>(on mac / iOS, directly on your book app)</i>
          </li>
          <li>
            <a
              href="https://www.bookeenstore.com/ebook/9791035900762/d-ombre-et-de-feu-fael-karais"
              target="_blank"
              >Bookeen</a
            >
          </li>
          <li>
            <a
              href="https://www.decitre.fr/ebooks/d-ombre-et-de-feu-9791035900762_9791035900762_10.html"
              target="_blank"
              >Decitre</a
            >
          </li>
          <li>
            <a
              href="https://www.librel.be/ebook/9791035900762-d-ombre-et-de-feu-fael-karais/"
              target="_blank"
              >Librel</a
            >
          </li>
          <li>
            <a
              href="https://www.epagine.fr/ebook/9791035900762-d-ombre-et-de-feu-fael-karais/"
              target="_blank"
              >ePagine</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>
