<template>
  <section class="section">
    <div class="content">
      <div class="box">
        <p class="title">Carte de Meridion</p>
        <figure class="image">
          <span class="btnModal">
            <img
              src="../../assets/meridionMap.jpg"
              alt="Map of Meridion"
              data-map="modalMap"
              id="mMap"
            />
          </span>
          <modals class="modalImg" />
          <figcaption>
            <p>
              <em>Dessin : Yann Lieby</em>
            </p>
            <a
              href="../../assets/meridionMap.jpg"
              class="button is-info is-outlined"
              >Télécharger (1.92Mo)</a
            >
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
</template>
<script>
import Modals from "../../components/Modals.vue";
export default {
  components: { Modals }
};
</script>
