<template>
  <div>
    <section class="section">
      <div class="content">
        <div class="box has-text-justified">
          <p class="title">Résumé</p>
          <p>
            Elle n’a que dix cycles et pourtant le destin d’Ylith s’impose à
            elle sans attendre. Elle doit apprendre à utiliser la magie des
            éléments ainsi que les Sens tout en grandissant. Alors qu’elle est
            pourchassée dans tout le royaume de Meridion, elle doit mener à bien
            une dangereuse quête que son existence même lui impose.
          </p>
          <p>
            Entre fuites improvisées et combats inévitables, Ylith apprend à
            composer avec les tragiques événements qui se produisent autour
            d’elle afin d’avancer. Il lui faudra affronter de sombres créatures
            venues du désert noir : les ombres. Pour arriver à ses fins, elle
            doit mettre de côté envies et émotions. Le temps presse et elle est
            amenée à tuer ombres comme humains.
          </p>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="content">
        <div class="box has-text-justified">
          <p class="title">Vous en voulez davantage ?</p>
          <p class="subtitle">Visitez ces liens :</p>
          <ul>
            <li>
              Vous pouvez acheter mes livres sur
              <a href="https://www.bookelis.com/">Bookelis</a> (rien pour le
              moment !).
            </li>
            <li>
              Et suivez
              <a
                href="https://www.facebook.com/DOmbre-et-de-Feu-397184007692615/"
                >la page dédiée à D'Ombre et de Feu</a
              >&nbsp;sur Facebook, j'y organise de temps en temps des concours
              pour gagner une édition gratuite et signée de mon livre ;-).
            </li>
            <li>
              Vous pouvez par ailleurs naviguer dans le menu de ce site pour y
              trouver des échantillons gratuits, d'autres de mes écrits, et
              d'autres choses encore.
              <em>
                La littérature devrait être accessible de tous, c'est pourquoi
                j'essaye de rendre mes écrits gratuits si possible afin de ne
                pas monétiser toutes mes créations.
              </em>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</template>
<script></script>
