<template>
  <section class="section">
    <div class="content">
      <div class="box">
        <p class="title">
          Vocabulaire spécifique à
          <em>Of Shadow and Fire</em>
        </p>
        <p class="subtitle">Sommaire</p>
        <ol type="I">
          <li>
            <a href="#time">Mesure du temps</a>
          </li>
          <li>
            <a href="#energision">Énergision</a>
            <i>(couleurs)</i>
          </li>
          <li>
            <a href="#sens">Sens</a>
          </li>
          <li>
            <a href="#others">Autres termes</a>
          </li>
        </ol>
      </div>
      <div class="box has-text-justified">
        <p class="subtitle" id="time">Mesure du temps :</p>
        <dl>
          <dt>Cycle</dt>
          <dd>
            Le cycle est l’équivalent de l’année dans le livre. Un cycle dure
            deux saisons : l'hiver et l'été. Du temps d’Ylith, les cycles sont
            comptés depuis la Séparation. Ylith est née lors du 187 ème cycle
            après la
            <a href="#separation">Séparation</a>, elle a dix cycles lorsque
            débute l'histoire. Le premier tome se déroule donc lors du 197 ème
            cycle. (531 cycles exactement depuis la création d’Ombre). <br />Un
            cycle en fonction des révolutions lunaires vaudrait 384 jours, mais
            en réalité, vu que les cycles sont basées sur les saisons (et donc
            la position de la planète par rapport au soleil), il y a exactement
            382 jours par cycle. Tous les seize cycles on enlève une lune,
            appelée la treizième Lune afin de revenir à la normale par rapport
            aux saisons.
          </dd>
          <dt>Saisons</dt>
          <dd>
            Il n’y a que l’été et l’hiver. Dans le système présent dans le
            livre, une saison ne change pas au moment du solstice d’hiver ou
            d’été mais bien à l’équinoxe.
          </dd>
          <dt>Lune</dt>
          <dd>
            Une lune vaut 32 jours et il y en a environ douze pour un cycle.
            Lorsqu’on parle du début d’une lune, on parle de la pleine lune,
            plus précisément à partir du moment où elle ne pourra pas être plus
            bleue et où elle commencera à être voilée si on avance dans le
            temps. La fin d’une lune est le moment juste avant que la lune
            redevienne pleine et au plus bleu.
          </dd>
          <dt>Compter l'âge d'une personne</dt>
          <dd>
            Quelqu’un qui est né en hiver comptera son âge en hivers, et
            inversement pour l’été. On précisera pour le
            <a href="#sens">Sens</a> si on est né au début, au milieu ou à la
            fin de notre saison si on ne sait pas à quelle lune exacte nous
            sommes nés. (Cette tradition s’est cependant perdue)
            <p>
              <strong>Par exemple :</strong> Ylith est née le jour même de la
              première lune de son premier été, elle a dix étés lorsque débute
              l’histoire. Elle a donc dix cycles au moment où le dixième été
              depuis sa naissance a débuté.
            </p>
          </dd>
        </dl>
      </div>
      <div class="box">
        <p class="subtitle" id="energision">
          Energision
          <i>(couleurs)</i>
        </p>
        <p>
          Il s'agit d'une magie utilisant l'énergie se trouvant en chaque être
          vivant. L'énergie d'une personne est liée à un élément :
          <i>Le Feu, l'Air, l'Eau et la Terre</i>. L'énergision permet de
          s'ouvrir à une vision du monde qui nous entoure par le biais de
          l'énergie présente en chaque être. Ce qui n'est pas vivant n'apparaît
          donc que très peu voire pas du tout dans le cas des
          <a href="#ombre">ombres</a>.
        </p>
        <p>
          Chaque type d'être vivant a une couleur d'énergie qui lui est
          spécifique, l'énergision offre donc une vue tout en couleurs et dont
          les êtres vivants ne sont pas identifiés par leur enveloppe, mais par
          la couleur de leur énergie et la forme qu'elle prend dans leur
          enveloppe.
        </p>
        <table class="table">
          <thead>
            <th>Couleur</th>
            <th>Définition</th>
          </thead>
          <tbody>
            <tr>
              <td>Rouge</td>
              <td>Humains</td>
            </tr>
            <tr>
              <td>Blanc</td>
              <td>
                Energie pure, se trouve en déclinaisons de blancs pour les
                pierres précieuses (blanc légèrement teinté de rouge pour un
                rubis par exemple).
              </td>
            </tr>
            <tr>
              <td>Rose</td>
              <td>
                Les rares personnes qui possèdent de l'énergie en très grande
                quantité.
              </td>
            </tr>
            <tr>
              <td>Vert</td>
              <td>Faune</td>
            </tr>
            <tr>
              <td>Bleu</td>
              <td>Flore</td>
            </tr>
            <tr>
              <td>Gris</td>
              <td>Bois d'ombre</td>
            </tr>
            <tr>
              <td>Jaune</td>
              <td>Or, argent et autres métaux précieux</td>
            </tr>
            <tr>
              <td>Violet</td>
              <td>Késia et autres plantes riches en énergie</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box has-text-justified">
        <p class="subtitle" id="sens">
          Sens
          <i>(senseur)</i>
        </p>
        <p>
          Le Sens est une forme de magie basée sur les cinq sens de l'Homme. Le
          Sens amplifie le sens humain correspondant et améliore aussi la
          mémoire liée à celui-ci. Un senseur a un Sens majeur, celui-ci est
          beaucoup plus développé que son ou ses Sens mineurs. Il est rare de
          croiser des personnes possédant plus d'un Sens mineur.
        </p>
        <table class="table">
          <thead>
            <th>Sens majeur</th>
            <th>Senseur</th>
          </thead>
          <tbody>
            <tr>
              <td>Goût</td>
              <td>Goûteur</td>
            </tr>
            <tr>
              <td>Odorat</td>
              <td>Senteur</td>
            </tr>
            <tr>
              <td>Ouïe</td>
              <td>Auditeur</td>
            </tr>
            <tr>
              <td>Toucher</td>
              <td>Toucheur</td>
            </tr>
            <tr>
              <td>Vue</td>
              <td>Observateur</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box">
        <p class="subtitle" id="others">Autres termes</p>
        <p>
          <strong>
            Liste de termes que vous pouvez rencontrer dans le livre et qui ne
            correspondent pas au vocabulaire plus haut dans cette page.
          </strong>
        </p>
        <dl>
          <dt>
            Pied
            <i>(unité de mesure)</i>
          </dt>
          <dd>1 pied fait environ 25 centimètres.</dd>
          <dt>
            Bras
            <i>(unité de mesure)</i>
          </dt>
          <dd>1 bras fait environ deux pieds.</dd>
          <dt id="separation">Séparation</dt>
          <dd>
            La séparation d’Aldor en deux royaumes.
            <i>(le royaume des Longvivant et Meridion)</i>.
          </dd>
          <dt id="ombre">Ombre</dt>
          <dd>
            Un ombre est un humain sans âme dont la peau est noire comme le
            charbon et très dure. Ils sont apparus en Aldor lors de l'Éclipse.
            Les ombres tuent tous les humains sur leur passage.
          </dd>
          <dt>L'Éclipse</dt>
          <dd>
            L'Éclipse s'est déroulée lors du 334 ème cycle avant la Séparation,
            ce qui est devenu les Terres d'Ombre était autrefois une région où
            l'on trouvait notamment Ildar, une grande ville spécialisée dans le
            commerce de bois d'ombre (bois issu de l'ombrier). Ildar et les
            autres villages de cette région ont soudainement disparu, laissant
            place à un désert de sable noir appellé
            <i>Terres d'Ombre</i> ou plus simplement <i>Ombre</i>.
          </dd>
          <dt>Ombrier</dt>
          <dd>Arbre noir tel le charbon qui poussait auparavant en Ombre.</dd>
        </dl>
      </div>
    </div>
  </section>
</template>
