<template>
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content"></div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</template>

<script>
export default {
  name: "Modals",
  mounted: function() {
    var modals = document.querySelectorAll(".modal");

    modals.forEach(modal => {
      var btn = modal.parentNode.querySelector(".btnModal");
      var modalCont = modal.querySelector(".modal-content");
      btn.addEventListener("click", function(event) {
        event.preventDefault();
        if (modal.classList.contains("modalImg")) {
          modalCont.innerHTML = btn.innerHTML;
          modalCont.classList.add("modalImg");
        } else if (modal.classList.contains("modalTxt")) {
          console.log(modal.parentNode.parentNode.parentNode.parentNode);
          modalCont.innerHTML = modal.parentNode.parentNode.parentNode.querySelector(
            ".textArea"
          ).innerHTML;
          modal
            .querySelector(".modal-content")
            .classList.add("readingMode", "has-text-justified");
        }
        modal.classList.add("is-active", "removeTop");
        document.getElementById("btnTop").style.display = "none";
      });
      modal.querySelector(".modal-close").addEventListener("click", function() {
        modal.classList.remove("is-active", "removeTop");
      });
    });
  }
};
</script>
