<template>
  <button
    class="button is-primary is-outlined is-rounded"
    onClick="window.scrollTo(0,0)"
    id="btnTop"
  ></button>
</template>

<script>
export default {
  name: "ScrollBtn",
  mounted: function() {
    window.addEventListener("scroll", function() {
      if (window.pageYOffset < 400) {
        document.querySelector("#btnTop").classList.remove("visible");
      } else if (document.querySelectorAll(".removeTop").length > 0) {
        document.querySelector("#btnTop").classList.add("visible");
      } else {
        document.querySelector("#btnTop").classList.add("visible");
      }
    });
  }
};
</script>
