<template>
  <div id="app">
    <section class="hero is-medium">
      <div class="hero-head">
        <div class="social">
          <table class="is-pulled-left">
            <tr>
              <td>
                <a href="https://www.bookelis.com/" target="_blank">
                  <img
                    src="./assets/bookelis.jpg"
                    class="image is-16x16 is-floating-left"
                  />
                </a>
              </td>
              <td>
                <a
                  href="https://www.bookelis.com/fantastique/34579-D-Ombre-et-de-Feu.html"
                  target="_blank"
                  >Acheter mes livres (DOedF)</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.facebook.com/ka.raphL" target="_blank">
                  <img src="./assets/fb24.png" class="image is-16x16" />
                </a>
              </td>
              <td>
                <a
                  href="https://www.facebook.com/DOmbre-et-de-Feu-397184007692615/"
                  target="_blank"
                >
                  Facebook
                  <i>D'Ombre et de Feu</i>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="hero-body">
        <p class="title is-1 has-text-primary has-text-centered">Fael Karaïs</p>
        <p
          class="subtitle has-text-centered has-text-success has-text-centered"
        >
          D'Ombre et de Feu tome 2 bientôt en phase de correction !
        </p>
      </div>
    </section>

    <section class="container for-navbar">
      <nav
        class="navbar has-text-grey-light"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="navbar-brand">
          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-item">
            <router-link to="/" exact>Accueil</router-link>
          </div>
          <span class="nav-dash">/</span>
          <div class="navbar-item has-dropdown is-hoverable">
            <router-link to="/of-shadow-and-fire" class="navbar-link"
              >D'Ombre et de Feu</router-link
            >
            <div class="navbar-dropdown">
              <router-link class="navbar-item" to="/of-shadow-and-fire/buy"
                >Acheter</router-link
              >
              <router-link class="navbar-item" to="/of-shadow-and-fire/summary"
                >Résumé</router-link
              >
              <router-link class="navbar-item" to="/of-shadow-and-fire/map"
                >Carte de Meridion</router-link
              >
              <router-link
                class="navbar-item"
                to="/of-shadow-and-fire/vocabulary"
                >Vocabulaire spécifique</router-link
              >
              <router-link class="navbar-item" to="/of-shadow-and-fire/extracts"
                >Extraits gratuits</router-link
              >
            </div>
          </div>
          <span class="nav-dash">/</span>
          <div class="navbar-item has-dropdown is-hoverable">
            <router-link to="/extra-stories" class="navbar-link"
              >Autres histoires</router-link
            >
            <div class="navbar-dropdown">
              <router-link
                class="navbar-item"
                to="/extra-stories/in-of-shadow-and-fire"
              >
                Dans le monde&nbsp;
                <em>D'Ombre et de feu</em>
              </router-link>
              <router-link class="navbar-item" to="/extra-stories/others"
                >Autres</router-link
              >
            </div>
          </div>
          <span class="nav-dash">/</span>
          <div class="navbar-item">
            <router-link to="/about">À propos</router-link>
          </div>
        </div>
      </nav>
    </section>
    <ScrollBtn />
    <router-view />
    <footer class="footer">
      <div class="content has-text-centered">
        <p>&copy;Fael Karais {{ actualYear }}</p>
        <p>
          Me contacter :
          <a href="mailto:faelk.contact@gmail.com">faelk.contact@gmail.com</a>
        </p>
      </div>
    </footer>
  </div>
</template>

<script>
import ScrollBtn from "@/components/ScrollBtn.vue";

export default {
  components: { ScrollBtn },
  mounted: function() {
    const burger = document.querySelector(".navbar-burger");
    burger.addEventListener("click", function() {
      const menu = document.querySelector(".navbar-menu");
      const links = menu.querySelectorAll(".navbar-item");
      burger.classList.toggle("is-active");
      menu.classList.toggle("is-active");
      links.forEach(link => {
        link.addEventListener("click", function() {
          burger.classList.remove("is-active");
          menu.classList.remove("is-active");
        });
      });
    });
  },
  computed: {
    actualYear() {
      var d = new Date();
      var n = d.getFullYear();
      return n;
    }
  }
};
</script>

<style lang="scss">
@import "./style.scss";
</style>
