@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Lora');

// Colors
$bodybg: #f5f5f5;
$boxbg: #fafafa;
$blu-bg: #eaeaf7;
$blu-lighter: #c9cbdd;
$blu-light: #8c93cc;
$blu: #5b68be;
$blu-dark: #3b489e;
$blu-darker: #182c7c;
$red: #da3d45;

// Variables
$family-sans-serif: "Lora",
sans-serif;
$primary: $blu-darker;
$info: $blu;
$danger: $blu-dark;
$warning: $blu-light;
$success: $blu-bg;
$link: $warning;
$grey-light: $blu-lighter;
$important: $red;

// Components from Bulma
$navbar-item-hover-background-color: none;
$navbar-item-color: $link;
$title-color: $danger;
$subtitle-color: $info;
$modal-background-background-color: rgba(black, 0.95);

@import "../node_modules/bulma/bulma.sass";


// Global addings, background, divs size, MEDIA and others
html {
    scroll-behavior: smooth;
}

a em:hover {
    color: #111111;
    /* TODO : also when hover just link, but not em child */
}

body {
    background-color: $bodybg;
    min-height: 100vh;
}

.hero {
    background: url(./assets/headergrad.jpg) no-repeat center top fixed;
    background-size: cover;
    margin-bottom: 10px;
}

.hero.is-medium .hero-body {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
}

.social {
    max-width: 19%;
}

.social tr {
    opacity: 0.65;

    a:hover {
        color: white;
    }
}

.social tr:hover {
    opacity: 1;
}

.box {
    background: $boxbg;
}

q {
    display: block;
    color: $blu-light;
    font-style: italic;
    margin: 30px;
}

em {
    color: $blu-dark;
}

strong {
    color: $blu-darker;
}

@media (min-width: 1025px) {
    .content {
        padding-left: 25%;
        padding-right: 25%;
    }

    .navbar {
        transform: translateY(-20px);
    }
}

.floating-img {
    max-width: 350px;
    float: right;
    margin-left: 20px;
}


@media (max-width: 1025px) {
    .social {
        max-width: 90vw;
    }

    .floating-img {
        float: none;
    }
}


.publishing-date {
    color: $grey-light;
    margin-top: 2.5em;
    border-top: dashed 1px $blu-lighter;
}

.is-recommended {
    color: $important;
    font-weight: bold;
    text-align: center;
}

.footer {
    padding: 2em 1em 3em;
}


// Navbar
.navbar-link:hover {
    color: $grey-dark;
}

.navbar-menu {
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: $success;
    border-bottom: 1px solid $grey-light;
    border-radius: 3px;
}

.navbar-brand {
    background-color: $success;
}

nav {
    .is-active {
        color: #222222;
    }

    .navbar-dropdown a.navbar-item.is-active {
        color: $grey-dark;
    }
}

.nav-dash {
    display: inline;
    color: $grey-light;
}

@media screen and (min-width: 1025px) {
    .navbar-item.is-hoverable:hover .navbar-dropdown {
        display: block !important;
    }

    .navbar-item.is-hoverable:focus-within .navbar-dropdown {
        display: none;
    }

}


@media screen and (max-width: 1025px) {
    .nav-dash {
        display: none;
    }
}

// Button to top
#btnTop::before {
    content: 'Haut de page ↑';
}

#btnTop {
    position: fixed;
    bottom: 50px;
    right: 75px;
    z-index: 80;
    background: $blu;
    color: white;
    transition: ease-in-out 0.2s;
    opacity: 0;
}

#btnTop:hover {
    color: $blu-light;
    transition: ease-in-out 0.2s;
}

#btnTop.visible {
    opacity: 1;
    transition: ease-in-out 0.2s;
}

@media screen and (max-width: 1025px) {
    #btnTop::before {
        content: '↑';
    }

    #btnTop {
        position: fixed;
        bottom: 5px;
        right: 15px;
        font-size: 1.2rem;
    }
}

// Table & definition
table td {
    padding: 2px;
    vertical-align: middle;
    font-size: 1rem;
}

table td a {
    color: white;
}

dt {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
}


// Text areas
.top-txt {
    padding: 1rem;
    border-bottom: 1px dashed $grey-light;
    padding-bottom: 3rem;
    margin-top: -20px;
}

.is-chapter {
    margin-top: 2rem;
}

.content .is-story:not(:last-child) {
    text-indent: 2rem;
    margin-bottom: 0;
}

.content .is-story:last-child {
    text-indent: 2rem;
    margin-bottom: 0;
}

.reading-mode {
    margin-bottom: 1.3rem;
}

// Modals

.modal-content {
    background: linear-gradient(to bottom, rgb(255, 249, 222) 0%, rgba(255, 248, 232, 1) 100%);
    padding: 15px;
    max-width: 500px;
    max-height: 100vh;
}

.modal-content.modalImg {
    max-width: 90vw;
    max-height: 90vh;
    padding: 0;
    width: initial;
    height: initial;
}

.modal-content img {
    max-width: 89vw;
    max-height: 89vh;
}

.btnModal {
    cursor: pointer;
}

.modal-close {
    background-color: rgba(0, 0, 0, 0.562);
}